[2020-10-06 17:14] bradygaster opened #2 "openapisettings.json not honored"
I created a new Functions project and added the NuGet package to it, then worked up some code and got it running. However, when I would try to load up the Swagger or Open API URLs or the Swagger UI page, I would get the following error message:

[code]

I deleted the `openapisettings.json` file and moved the Open API info JSON data from that file into the `host.json` file:

[code]

Once I did this

[2020-10-11 09:22] justinyoo opened #4 "null Open API metadata in host.json should be allowed with default values"
If no metadata is declared in `host.json`, the Open API-related pages are not rendered with error messages. Even if there is no metadata declared in `host.json`, the Swagger UI page and `swagger.json` page should be working with empty string or default values.

[2020-11-09 17:25] spboyer opened #12 "Create proxies.json for Swagger UI"
Consider a default proxy for `/swagger` to redirect to the RenderSwaggerDocument endpoint.

[See docs on proxies](https://docs.microsoft.com/azure/azure-functions/functions-proxies)

@justinyoo @bradygaster

[2020-11-10 01:08] justinyoo commented on #12
As discussed during the sync-up call, there are two options for us:

1. To provide the default value of `/swagger` through `proxies.json` out-of-the-box. ➡️ It potentially overwrites existing `proxies.json` file.
1. To let developers add or create `proxies.json` by themselves ➡️ It may scratch their development experiences.

I think the Option 1 would be our preference as long as we find a way to

[2020-11-10 01:15] bradygaster commented on #12
I prefer option 2 + docs

[2020-11-10 01:42] justinyoo commented on #12
Oh, I see. Sounds good!

[2020-11-26 22:09] josmithua opened #14 "Property descriptions of models"
Hi there,

First off, this is a super great project and I'm glad it's being developed!

I'm trying it one of my projects and I was wondering (maybe its a question for the main .NET OpenAPI package) if there is a way to add property descriptions to the open api output.

For example, say I have a model:

[code]

When I specify

[code]

I would like to have it output

[code]

Is there any attributes

[2020-11-30 20:52] spboyer opened #15 "AnyOf Supported in V3 implementation"

[2020-12-01 00:55] spboyer opened #16 "Configuration model support"
Can we get support for bring your own settings provider. i.e. KeyVault, Azure Config Service

[2020-12-01 12:12] spboyer commented on #15
See: https://swagger.io/docs/specification/data-models/oneof-anyof-allof-not/

[2020-12-08 08:28] XiaofuHuang opened #17 "Programming language support of this extension"
Hello, currently we are also working on generating swagger from Azure Function.
Do you have any plans to support other languages recently? We are looking for a solution to typescript.

[2020-12-09 09:16] justinyoo commented on #17
@XiaofuHuang We've got a plan to support other languages but not in near future.

[2020-12-09 09:16] #17 closed

[2020-12-23 00:21] trevonmckay opened #18 "Add a sample for describing a multipart/form-data endpoint for file uploads"
I'm not sure what the bodyType would be for an endpoint that accepts multipart/form-data using the OpenApiRequestBodyAttribute.

[2021-01-09 16:49] justinyoo commented on #14
Thanks for suggestion! I would need to implement a sort of `OpenApiPropertyDescriptionAttribute` decorator for this. Let me have a look.

[2021-01-09 16:52] justinyoo commented on #16
Thought it would be the metadata configuration model. But it doesn't seem that I initially thought...? 🤔 Can I have an example?

[2021-01-11 17:50] spboyer commented on #16
What we are looking for is how IConfiguration is done in ASP.NET Core. See -> https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-5.0

[2021-01-20 09:56] basilfx opened #21 "Ignore code analysis warnings in extension files"
I'm using the `0.1.0-preview` version in a C# Azure Functions V3 project, running on Linux with .NET Core SDK 3.1

Our project uses Roslyn-based code analysis during the build. This extension adds some source files for compilation, but unfortunately, these are also picked up for analysis. I cannot find a way to ignore them (tried the [.editorconfig](https://docs.microsoft.com/en-us/visualstudio/co

[2021-01-20 10:10] danielabbatt commented on #21
You can also use the global suppression file technique to suppress any messages from files you don't want to edit, i.e. linked ones like this.

[2021-01-25 12:45] basilfx commented on #21
Took me some time to get this right. The trick was to set the `Scope` to `namespaceanddescendants`. Here is how I suppressed the warnings (note that this depends on your own set of code analysis rules):

[code]

Still, I would consider this a workaround (which I'm fine with for now).

[2021-01-29 01:43] justinyoo opened #22 ".NET 5 Support"
* Announcement: https://techcommunity.microsoft.com/t5/apps-on-azure/net-5-support-on-azure-functions/ba-p/1973055
* .NET 5 Runtime Worker (Preview): https://github.com/Azure/azure-functions-dotnet-worker-preview

[2021-01-29 02:51] justinyoo commented on #21
Thanks for raising this issue! It's being merged and will be shipped in the next iteration. Once it's shipped, I'll close this issue for you to have a look on your end.

[2021-01-29 02:52] justinyoo commented on #18
It's not currently supported yet, but it will be implemented.

[2021-01-29 08:04] justinyoo commented on #14
@josmithua This has been merged to the main branch, and will be release to the next iteration. Thanks for waiting! I'll keep this issue open until it's released, and let you know to have a look on your end.

[2021-01-29 08:07] justinyoo commented on #18
Related to https://github.com/aliencube/AzureFunctions.Extensions/issues/111 and https://github.com/aliencube/AzureFunctions.Extensions/issues/71

[2021-01-30 02:43] justinyoo opened #25 "Open API Documents Accessibility?"
* Context: https://github.com/Azure/azure-functions-host/issues/7115

As It has the dependency on the runtime, the current decision is to set those pre-defined endpoints publicly accessible, meaning `AuthorizationLevel.Anonymous`.

[2021-01-30 04:27] justinyoo opened #27 "Mark Deprecated to Operations, Parameters and Schemas"
* Original Issue: https://github.com/aliencube/AzureFunctions.Extensions/issues/140
* Open API Spec:
  * Operation: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#operationObject
  * Parameter: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#parameterObject
  * Schema: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#

[2021-01-30 07:41] justinyoo opened #28 "IConfiguration Support for Open API Metadata"
* Related to: #2 #4 #16

Currently model relies on `host.json`, `openapisettings.json` or environment variables, which is less intuitive for devs to implement. It also has a tight coupling with AppSettings model, which forces devs to use it.

Instead, creating a middleware like `IServiceCollection.AddOpenApi(xxx)` might provide devs with more flexibility.

[2021-01-30 07:43] justinyoo commented on #28
* Related to: https://github.com/aliencube/AzureFunctions.Extensions/issues/136

[2021-01-30 14:37] justinyoo opened #29 "Customised String Enum Member"
* Related to: https://github.com/aliencube/AzureFunctions.Extensions/issues/128

Enums decorated with `[JsonConverter(typeof(StringEnumConverter))]` needs to respect both `System.Runtime.Serialization.EnumMemberAttribute` and `Microsoft.Azure.WebJobs.Extensions.OpenApi.Core.Attributes.DisplayAttribute`.

If both attributes are declared to a certain enum field, `System.Runtime.Serialization.EnumMem

[2021-02-03 00:49] justinyoo commented on #29
It's been released to [NuGet](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.OpenApi/). Please have a look.

[2021-02-03 00:49] #29 closed

[2021-02-03 00:49] justinyoo commented on #21
It's been released to [NuGet](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.OpenApi/). Please have a look.

[2021-02-03 00:49] #21 closed

[2021-02-03 00:49] justinyoo commented on #14
It's been released to [NuGet](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.OpenApi/). Please have a look.

[2021-02-03 00:49] #14 closed

[2021-02-03 00:58] phil-allen-msft opened #33 "NullReferenceException in RenderSwaggerDocument with simplest Function HttpTrigger"
Following the guide at https://github.com/Azure/azure-functions-openapi-extension/blob/main/docs/enable-open-api-endpoints.md

1. Create the functions project, add the HttpTrigger, make changes to host.json and add the OpenApi* attributes as listed to the HttpTrigger.
2. Run the func.exe locally
3. Try to browse to the [localhosturl]/swagger/ui page

RESULT:
NullReferenceException in a call to Lin

[2021-02-03 01:49] justinyoo commented on #33
Thanks @phil-allen-msft It's fixed and waiting for the hotfix release.

[2021-02-03 01:49] #33 closed

[2021-02-04 14:22] justinyoo commented on #16
Related to: https://github.com/Azure/azure-functions-host/issues/7126

[2021-02-04 15:36] #2 closed

[2021-02-04 15:36] #4 closed

[2021-02-04 15:36] #16 closed

[2021-02-04 15:36] #28 closed

[2021-02-04 17:12] justinyoo commented on #22
As of the worker runtime version `1.0.0-preview3`, .NET 5 support is not possible.

* Related to: https://github.com/Azure/azure-functions-dotnet-worker-preview/issues/12#issuecomment-773466224
*

[2021-02-06 08:24] justinyoo opened #35 "Overwriting Base URL"
Related to: https://github.com/aliencube/AzureFunctions.Extensions/issues/136

[2021-02-06 08:34] justinyoo opened #36 "Add broader support for Microsoft's Custom Connector annotations"
Related to: https://github.com/aliencube/AzureFunctions.Extensions/issues/116

[2021-02-06 08:41] justinyoo opened #37 "Sample Model as Response"
Related to:
* https://github.com/aliencube/AzureFunctions.Extensions/issues/43
* https://github.com/aliencube/AzureFunctions.Extensions/issues/66

[2021-02-06 08:44] justinyoo opened #38 "Support for Response Headers"
Related to: https://github.com/aliencube/AzureFunctions.Extensions/issues/110

Open API spec: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#responseObject

[2021-02-06 09:13] justinyoo opened #39 "Hooking Feature"
Related to: https://github.com/Azure/azure-functions-host/issues/7126

If there is a hooking interface at the runtime, it can leverage OpenApiHttpTrigger function generated on-the-fly.

[2021-02-06 15:48] #12 closed

[2021-02-06 15:49] justinyoo commented on #12
Added a doc for this: https://github.com/Azure/azure-functions-openapi-extension/blob/main/docs/shortening-swagger-ui-page-url.md @bradygaster @spboyer

[2021-02-08 13:51] lcordidrocl opened #41 "default "Code" query string on all functions"
Hey, I get this parameter on requests of all my functions, and I don't know where it is coming from, since I am not specifying it with the data annotations:
"parameters": [
  {
      "in": "query",
      "name": "code",
      "type": "string"
  }]

  I am using default functionality to retrieve the swagger.json. With this I mean I haven't changed any setting after I installed the nuget package and

[2021-02-08 16:55] justinyoo commented on #41
@lcordidrocl Which version of the extension are you using?

[2021-02-09 01:00] justinyoo commented on #41
I used the latest version of the [NuGet package](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.OpenApi/), `v0.3.2-preview`. I don't see your issue.

[2021-02-09 05:59] #27 closed

[2021-02-09 12:15] lcordidrocl commented on #41
mm weird, I am using the same as you. I might have a wrong configuration somewhere on my function app then.
Thanks for taking the time to research, this points me that there is something wrong on my code.
Thanks!

[2021-02-09 12:15] #41 closed

[2021-02-09 17:42] #35 closed

[2021-02-10 07:02] #38 closed

[2021-02-10 13:47] justinyoo commented on #38
This has been released to [v0.4.0-preview](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.OpenApi/0.4.0-preview).

[2021-02-10 13:47] justinyoo commented on #35
This has been released to [v0.4.0-preview](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.OpenApi/0.4.0-preview).

[2021-02-10 13:47] justinyoo commented on #27
This has been released to [v0.4.0-preview](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.OpenApi/0.4.0-preview).

[2021-02-10 18:17] disambiguationuk commented on #35
![image](https://user-images.githubusercontent.com/11738048/107553113-429cba00-6bcc-11eb-859c-c43ec90ff5b6.png)

Amazing, thanks so much!

[2021-02-11 13:34] Derich367 opened #47 "OAuth2 Workflow - oauth2-redirect.html not found"
During Implementing an OAuth2 Workflow for the api documentation i'm getting the issue that the redirect page can't be found.
E.g. for local running function http://localhost:7071/oauth2-redirect.html can't be found (404) after successful authentication.

My OpenApiOAuthSecurityFlows looks like this:

[code]

Am i missing some configuration for the redirect page?

[2021-02-12 13:17] disambiguationuk commented on #47
Sure it's not http://localhost:7071/**api**/* ?

[2021-02-12 17:29] Derich367 commented on #47
Yes, swagger docs are hosted under default settings at http://localhost:7071/api/swagger/ui
But the authorization url opened by swagger contains http://localhost:7071/oauth2-redirect.html as redirect url.

[2021-02-13 09:49] justinyoo commented on #47
@Derich367 Can I ask the steps to repro this issue on my end?

If you change this URL, http://localhost:7071/oauth2-redirect.html, to http://localhost:7071/api/oauth2-redirect.html (adding the `/api` segment), would it be working?

If you use the default settings, the `host.json` has the `/api` as a prefix of all endpoints - meaning, your other endpoints including `oauth2-redirect.html` should be

[2021-02-15 06:30] Derich367 commented on #47
@justinyoo Yes i created a demo project to reproduce this:
[azure-functions-openapi-oauth2-test](https://github.com/Derich367/azure-functions-openapi-oauth2-test)
The redirect Url in the generated AuthorizationUrl is http://localhost:7071/oauth2-redirect.html.
But both  http://localhost:7071/oauth2-redirect.html andhttp://localhost:7071/api/oauth2-redirect.html returning 404.

[2021-02-16 15:11] michielpost opened #48 "GetSwaggerAuthKey should not return nullable string"
I'm using the OpenApi Extensions in a Azure Functions app, netcoreapp3.1 with nullability enabled and nullability warnings are treated as errors.

My csproj contains this:

[code]

But when the `Microsoft.Azure.WebJobs.Extensions.OpenApi` (version: `0.4.0-preview`) NuGet package is included, it won't compile anymore.
It's caused by the template file `OpenApiHttpTriggerContext.cs` that is included

[2021-02-17 16:11] lecamarade opened #50 "When to expecte 1.0?"
Hi,

Could you please share the timeline for this project?
I'd love to start using it, would be very helpful to know when to expect a prod ready version.

[2021-02-18 14:14] alvpickmans opened #51 "Integration with OpenAPI.NET.CSharpAnnotations"
Hi! I'm just looking into different options to better document Azure Functions API projects and I think the project seems pretty useful.

Although the use of attributes to document seems to be working good, I was wondering if there is any plan (or has been considered) to integrate with https://github.com/microsoft/OpenAPI.NET.CSharpAnnotations to allow retrieving OpenAPI specs from a method's anno

[2021-02-18 15:25] #48 closed

[2021-02-18 15:47] justinyoo commented on #47
@Derich367 I saw your sample repo.

But I don't see any endpoint pointing to either `/oauth2-redirect.html` or `/api/oauth2-redirect.html`. Have you implemented the endpoint within your Function app? It's something you should implement at your end.

Alternatively, you can use `proxies.json` to redirect to your designated endpoint for further processing.

[2021-02-18 16:34] Derich367 commented on #47
What is then the file [oauth2-redirect.html](https://github.com/Azure/azure-functions-openapi-extension/blob/main/src/Microsoft.Azure.WebJobs.Extensions.OpenApi.Core/dist/oauth2-redirect.html) in this repo for? I thought the OAuthToken Retreive and Store-Handling is Part of this Extension.

[2021-02-18 16:39] bradygaster commented on #50
We are hoping to release an initial version of this in Spring 2021. If you have started tinkering with it and trying things out we'd love your feedback so far.

[2021-02-19 00:01] justinyoo commented on #47
OH! Is that mine? 🙈🙈🙈 I should implement it then. I totally overlooked that part. Thanks for letting me know!

[2021-02-19 00:06] justinyoo commented on #51
@alvpickmans Thanks for the suggestion! We haven't considered the XML document annotation way for Open API support yet. But that's good to know!

[2021-02-19 00:06] #51 closed

[2021-02-20 07:23] bradygaster commented on #50
Closing this issue as we answered it as best we can. :) Keep watching out, and keep issues coming if you notice anything wonky walking through the docs. I'm about to submit a small issue now. 👍

[2021-02-20 07:23] #50 closed

[2021-02-20 07:28] bradygaster opened #52 "Docs omit Servers property"
I followed the docs - which are MUCH-improved and getting exciting - and ran into one issue. When I follow the tutorial explicitly the `OpenApiConfigurationOptions` class I created lacks the `Servers` property, so I get a compilation error.

![image](https://user-images.githubusercontent.com/41929050/108587610-88166100-7309-11eb-9b67-b1a8621e4311.png)

I can add this manually, but I think this app

[2021-02-21 15:52] justinyoo commented on #52
Oh, the `localhost` one should be automatically added, without having to explicitly implement the interface. I thought it would do it. Let me check.

[2021-02-21 15:54] bradygaster commented on #52
BTW I was able to resolve this both locally in development **and** post-production without making any code tweaks. Just making sure folks see that this is possible.

[code]

Curious what folks would prefer?

1. We just *do this* in something like a `DefaultOpenApiConfigurationOptions` implementation of `IOpenApiConfigurationOptions` and ship it in the binding.
2. We don't add a `DefaultOpenApiConf

[2021-02-21 16:05] srdjan opened #53 "Java support (examples)"
This is great!
will there be examples for different languages, specifically Java, GoLang?

[2021-02-22 13:01] Frankyfrankly opened #54 "StackOverflow Exception on circular reference"
Here is a code sample to reproduce the issue:

[code]
It seems like recursion happens in **Visit** method of **ObjectTypeVisitor** class.

The same can be reproduced in Microsoft.Azure.WebJobs.Extensions.OpenApi.FunctionApp.V3IoC project by adding a new class Owner:
[code]
And introducing new property "public Owner Owner { get; set; }" in Pet class

[2021-02-22 14:15] justinyoo commented on #53
@srdjan At this time, we're focusing on .NET first. Expanding to the other language support will be considered later.

[2021-02-22 14:15] #53 closed

[2021-02-22 14:59] justinyoo commented on #52
I prefer the option 1.

[2021-02-22 15:28] #52 closed

[2021-02-22 17:12] svrooij commented on #47
And just a quick fix for anyone who is struggling with this, just add a `proxies.json` file with the following content

[code]

[2021-02-25 10:31] sonic1981 opened #56 "Is it possible to upgrade the swagger specification from v2 to v3.0.0?"
currently the swagger docs are generated using the 2.0 api:

[code]

but the latest is 3.0.3 https://swagger.io/specification/

[2021-02-25 12:43] justinyoo commented on #56
@sonic1981 You can use /api/openapi/v3.json to get Open API v3 spec.

https://github.com/Azure/azure-functions-openapi-extension/blob/a06c271e70c276b12c243b41fac004fb01de4856/templates/OpenApiEndpoints/OpenApiHttpTrigger.cs#L80

[2021-02-25 12:44] sonic1981 commented on #56
Ah good one. Thanks

[2021-02-25 12:44] #56 closed

[2021-02-25 17:17] svrooij commented on #47
I'm not sure it that solves it. the redirect url isn't configured at the moment so it will revert to `/oauth.....html` instead of `/api/oauth....html`

In which case there is still the need for a proxy file.

[2021-02-25 17:17] svrooij commented on #47
I'm not sure it that solves it. the redirect url isn't configured at the moment so it will revert to `/oauth.....html` instead of `/api/oauth....html`

In which case there is still the need for a proxy file.

[2021-02-26 08:07] justinyoo commented on #47
Oh, it's implemented and will be included in the next release. I'll comment it when it's released.

[2021-02-26 12:30] justinyoo commented on #52
This has been released to [NuGet](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.OpenApi/0.5.0-preview).

[2021-02-26 12:31] justinyoo commented on #48
@michielpost This has been released to [NuGet](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.OpenApi/0.5.0-preview).

[2021-02-26 12:32] justinyoo commented on #47
@svrooij This has been released to [NuGet](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.OpenApi/0.5.0-preview). Please have a look on your end.

[2021-02-26 16:49] Derich367 commented on #47
I can confirm @svrooij , the redirectUrl included in the AuthorizationUrl is still http://localhost:7071/oauth2-redirect.html. So after successful Authentication you still get 404. But if i then change to http://localhost:7071/api/oauth2-redirect.html, then its no more 404.
But i can't change the redirectUrl inside of the OpenApiOAuthFlow Configuration right?

[2021-02-26 18:57] svrooij commented on #47
You can however create a proxy entry to redirect urls to other local urls (something similar as my comment above).

To change the redirect url, I think you need to change the url in the javascript file that swagger uses.

Maybe that can be configurable?

[2021-02-27 00:42] justinyoo commented on #47
@Derich367 If you want to use `/oauth2-redirect.html`, there are two ways:

* Remove `/api` from `host.json` and add it to each endpoint's `Route` property of the `HttpTrigger` binding, where necessary, or
* Use `proxies.json` to redirect the traffic from `/oauth2-redirect.html` to `/api/oauth2-redirect.html`.

It's because Azure Functions runtime behaves like this, which is beyond my control.

Ju

[2021-02-27 07:17] svrooij commented on #47
The redirect uri is mandatory in the authorize/token request according to the oauth2 specs. The authentication server has a list of allowed redirect uris per application and only checks it the request uri is in the list. The specs have no room for other configuration

According to [this page](https://github.com/swagger-api/swagger-ui/blob/master/docs/usage/configuration.md) you can setup swagger t

[2021-02-27 07:55] justinyoo commented on #47
@svrooij Thanks for the info! For now, I'll fix the `/api` part, then extend the configuration.

[2021-02-27 08:38] filcole opened #58 ""offline" generation of OpenAPI definition for use in build pipeline"
When working with a solution containing a PowerPlatform custom connector that uses an OpenAPI definition generated from an Azure Function it would be good to be able to output the OpenAPI definition (v2 currently only for custom connectors) within a build pipeline.

This would remove the manual step of having to update the custom connector YAML, then export the solution containing the custom conne

[2021-02-27 09:59] justinyoo commented on #58
@filcole Did you mean the CLI version of it? Could you please elaborate a bit more?

[2021-02-27 11:48] filcole commented on #58
Hi @justinyoo,

Yes something like the CLI version from the Aliencube repo - so that a build process can "compile" and generate an OpenAPI definition which can then be included in the "source" for a PowerPlatform custom connector.  Custom connectors in PowerPlatform solutions can be exploded into individual files using the solutionpackager.exe tool.  Each custom connector has it's own directory wh

[2021-03-01 09:56] justinyoo commented on #47
@Derich367 @svrooij I haven't released the fix yet, but can you try on this branch beforehand? It seems to be OK on my end but want to make sure.

https://github.com/Azure/azure-functions-openapi-extension/tree/hotfix/oauth2-redirect

[2021-03-01 11:14] svrooij commented on #47
do you also build hotfix branches? or do we need to build it ourself?

I checked the code and to my understanding that should fix the issue.

[2021-03-01 13:41] justinyoo commented on #47
Currently the build is halted, but it should be built automatically. I haven't it merged back to the main repo yet, though.

[2021-03-01 15:52] sonic1981 opened #59 "Would be nice to be able to specify multiple content types?"
Currently the `OpenApiRequestBodyAttribute` only accepts one content type string. The output of this in the openapi.json is:

[code]

But this attribute accepts multiple values, so the following is valid Openai syntax:

[code]

etc. There is no way to currently add these open api attributes using this plugin.

[2021-03-01 15:56] sonic1981 commented on #58
Yes, I wanted to really publish my open api separate to my functions but I can't currently as the json is built on the fly. I'd prefer if the json could be built by my deployment pipeline and then deployed to a web app separate to my function apps. Not least of which because of security.

[2021-03-02 00:34] ssa3512 opened #60 "Allow extensibility of swagger UI with custom stylesheets"
As a consumer of this package, I would like the ability to override some of the CSS contained in the `dist` folder with some of my own to be able to provide some custom branding on the swagger UI site.

It would be great to have some methods that can be overridden in [SwaggerUI](https://github.com/Azure/azure-functions-openapi-extension/blob/main/src/Microsoft.Azure.WebJobs.Extensions.OpenApi.Core

[2021-03-02 01:05] justinyoo commented on #59
@sonic1981 Thanks for suggestion! As of now, it currently only supports one content type. It will be expanded to support multiple content types.

[2021-03-02 01:06] justinyoo commented on #59
Related to #18

[2021-03-02 01:07] justinyoo commented on #60
@ssa3512 Thanks for suggestion! It surely will be supported.

[2021-03-02 04:42] #47 closed

[2021-03-02 05:27] justinyoo commented on #47
@Derich367 @svrooij [v0.5.1-preview](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.OpenApi/0.5.1-preview) has been released including this hotfix.

[2021-03-02 06:55] Derich367 commented on #47
@justinyoo Thanks a lot! I tested it and now OAuth is working as expected!

[2021-03-03 11:24] svrooij commented on #47
I also tested this, and your solution works!

I have one more improvement, the Swagger UI is available at `/api/swagger/ui` so I thought the redirect file would be available at `api/swagger/oauth2-redirect.html` that way you keep the root api clean of files that are used by swagger.

[2021-03-03 11:35] svrooij commented on #58
This would serve multiple purposes:

1. Generating at build time (and serving a static json file) is probably faster then generating it at runtime every time `api/openapi/v2.json` is called.
2. If this file is available at build time we could use [NSwag](https://github.com/RicoSuter/NSwag) to generate strong typed clients (C# or TypeScript), which could then also be published some where.

The last

[2021-03-04 07:37] canturan opened #63 "Swagger "try it out" with funcktion / host key"
How can I use or extend the "try it out" functionality from swagger ui, if i I deployed the solution to Azure function, while using AuthorizationLevel.Function. "Try it out" does not respect the  OpenApi__ApiKey settings and sends the request without key, which causes 401 Unauthorized.

Is there any way or attribute to configure it, that "try it out" sends the request with the function key or with

[2021-03-05 01:06] justinyoo commented on #63
@canturan Thanks for bringing up the issue.

The `OpenApi__ApiKey` is only used if you want to secure your Swagger UI and Open API document endpoints such as `/api/swagger/ui`, `/api/swagger.{extension}`, `/api/openapi/{version}.{extension}`.

If you want to authenticate your endpoints other than them, you should add the `OpenApiSecurityAttribute` decorator on each HTTP trigger, and authenticate t

[2021-03-05 04:10] JounouchiAng commented on #63
You can authenticate using HTTP Header by passing ' x-functions-key' with your function/master key.

[2021-03-09 22:47] powerdude opened #64 "Generics not recognized well with OpenApiResponseWithBodyAttribute"
When using `OpenApiResponseWithBody` on 2 different methods with a generic `MyResponse<int>` and then `MyResponse<string>`, the UI doesn't render.  Also, if only used on one method, the properties of `MyResponse` do not show in the Models section.

[2021-03-10 00:49] justinyoo commented on #47
@svrooij Oh, thanks for suggestion! It makes sense to me as well. I'll have a look at the next release.

[2021-03-10 00:56] justinyoo commented on #64
@powerdude Thanks for the issue. To repro on my side, could you provide more details how you got into that, including your class definitions?

[2021-03-10 00:57] justinyoo commented on #63
@canturan I wonder whether it has answered your question. I'll close this ticket in a couple of days time.

[2021-03-10 01:11] powerdude commented on #64
[code]

[2021-03-10 01:19] powerdude commented on #64
this is the error i get if both use `Response<T>`:

[code]

and if i change `Response<int>` to just `int`, then no error but the `Response<RouterCreationSuccess>` doesn't show correctly in models section

[2021-03-10 08:06] canturan commented on #63
@justinyoo @JounouchiAng Thank you! The OpenApiSecurityAttribute with "x-functions-key" works perfectly fine.

[2021-03-10 08:06] #63 closed

[2021-03-11 22:33] rhizohm opened #67 "Guidance On Plugging Into OpenApiSecurity For JWT Bearer Tokens"
Can you point me to documentation/code samples of how to plug into the `OpenApiSecurity `attribute? Our scenario is where we have our own attribute that inherits from the `AuthorizeAttribute ` that we decorate our functions with. How do we wire up the OpenApiSecurity attribute so that the "Try It Now" feature will work?

[2021-03-12 05:01] justinyoo commented on #67
@rhizohm Hope this sample code helps:

https://github.com/Azure/azure-functions-openapi-extension/blob/e81e82032c936b9fe68c4413da313c6c9590ea82/samples/Microsoft.Azure.WebJobs.Extensions.OpenApi.FunctionApp.V3Static/DefaultHttpTrigger.cs#L17-L27

[2021-03-12 11:23] justinyoo commented on #67
Also this is the doc for it: https://github.com/Azure/azure-functions-openapi-extension/blob/main/docs/openapi-core.md#openapisecurityattribute

[2021-03-12 15:58] sergeysolod17 opened #68 "Doesn't support multiple operations (for example, GET, POST) for one endpoint"
When I scanned the generated file swagger.json I found desription for one endpoint:
swagger: '2.0'
info:
  title: Azure Functions Open API Extension
  version: 1.0.0
host: localhost:7071
basePath: /api
schemes:
  - http
paths:
  /HttpTriggerCSharp1:
    get:
      tags:
        - name
      operationId: Run
      produces:
        - text/plain
      parameters:
        - in: query
          name:

[2021-03-13 03:02] justinyoo commented on #68
@sergeysolod17 Thanks for the question!

That's correct. Although technically one Function method can take more than one HTTP verb/method, semantically it should be two different operations.

Therefore, I would recommend separating multiple verbs/methods from each other, and giving them respective operation IDs.

[2021-03-13 03:03] #67 closed

[2021-03-13 07:59] sergeysolod17 commented on #68
Thank you!

[2021-03-13 07:59] #68 closed

[2021-03-15 16:58] josephineHonore opened #69 "Generated swagger documentation includes only the first function in a file"
When i try to generate the swagger documentation for the code below i get only see the endpoint of the first function in my swagger ui (and in the generated swagger / openAPI files.) The first endpoint of a second file is also shown, but the  following functions in that file is not included as well. Any suggestion of what i do wrong?

[code]

[2021-03-16 09:05] shibayan opened #70 "Support "catch all" http trigger route"
Writing a route like `{*path}` to get all subsequent path parameters did not correctly output the OpenAPI definition.

`Microsoft.Azure.WebJobs.Extensions.OpenApi`: `0.5.1-preview`

### Repro code

[code]

### Actual behavior

![image](https://user-images.githubusercontent.com/1356444/111282780-b3c70580-8681-11eb-8c97-932852c4f3fa.png)

[2021-03-16 15:50] thdotnet opened #71 "support for operation version"
In order to support multiple versions of an operation, I would like to annotate on each method the version of the api its related.

(similar to aspnet core)

E.g.

[code]

[2021-03-16 19:06] spboyer commented on #71
@thdotnet  - you can do this in Functions using the following pattern

` Route = "v1/devices" `  - see full example below

[code]

[2021-03-17 18:59] crutchfield opened #72 "Annotation with bodyType does not show JsonPropertyName of model class"
I have a POCO annotated with JsonPropertyName for each member.  When passing the class type to the OpenApiResponseWithBody annotation as the bodyType I do not get the JsonPropertyNames I get the class member names instead in the generated swagger and open api documents.

[2021-03-17 23:13] justinyoo commented on #72
@crutchfield Thanks for the issue! Could you share how to repro the issue on my end?

[2021-03-17 23:16] justinyoo commented on #71
@thdotnet I think the approach what Shayne suggested would sort out your issue. I'll close this issue in a few days time, unless you continue the conversation.

[2021-03-17 23:31] crutchfield commented on #72
I have a simple POCO.  Like such:

    public class PocoRequest
    {
        [JsonPropertyName("request_id")]
        public long Id { get; set; }

        [JsonPropertyName("timestamp")]
        public DateTime Timestamp { get; set; }

        [JsonPropertyName("mgrs_location")]
        public string Location { get; set; }
   }

When documenting my API such as follows:

    public static class M

[2021-03-17 23:41] justinyoo commented on #70
@shibayan Thanks for the issue! The actual function endpoint itself works fine, if you send a request directly to the endpoint like:

[code]

However, like you mentioned, I can confirm that it doesn't work on the UI as expected. I'm not sure it's the issue on my end or the UI's end.

Have you got the similar experience with Swagger UI on other application like ASP.NET Core Web API with Swashbuckle

[2021-03-18 00:02] justinyoo commented on #69
@josephineHonore Thanks for the issue! Unfortunately, I can't repro your issue on my end. I can see all the endpoint properly on the UI and Open API document.

While I don't think it's the version issue, it's worth trying with the newest version, v0.5.1-preview. Would you please give it a go?

[2021-03-18 00:08] justinyoo commented on #72
Oh, I now see what you mean. Can you please try `JsonProperty("something")` instead of `JsonPropertyName("something")`?

If the `JsonPropertyName` decorator comes from `System.Text.Json`, unfortunately, it's not supported yet.

[2021-03-18 00:23] crutchfield commented on #72
Thanks for your help. I will try you suggestion.  Yes, the decorator is from System.Text.Json.  But since unsupported I suppose closing issue is appropriate.

[2021-03-18 00:23] #72 closed

[2021-03-18 00:29] crutchfield commented on #72
P.S.  Suggestion worked perfectly.

[2021-03-18 02:16] shibayan commented on #70
@justinyoo

I tried the same route with the ASP.NET Core Web API with Swashbuckle, and it worked. Looking at the generated openapi definition, it seems that "*" should not be included in the definition.

[code]

[code]

[2021-03-18 02:20] justinyoo commented on #70
Thanks for confirming! Let me have a look.

[2021-03-18 08:22] alanta opened #73 "CLI tool as a .NET Tool"
For API Management integration, we generate OpenAPI specs at build time and push these specs to APIM during deployment.
This works very well with the CI/CD paradigm, much more so than manually importing the spec into APIM as suggested in the [APIM  integration article](https://github.com/Azure/azure-functions-openapi-extension/blob/main/docs/integrate-with-apim.md).

For WebAPI projects we use the

[2021-03-18 09:02] filcole commented on #73
This looks like a duplicate of #58 .

[2021-03-18 23:32] justinyoo commented on #73
@alanta Thanks for the suggestion! We DO have a CLI version of it, but it's very early stage, even in this preview.

[2021-03-20 23:09] Assassinbeast opened #75 "Arrays of arrays doesn't work"
Hi, models that have `List<List<string>>` or `Dictionary<string, List<string>>` properties get generated incorrectly

For example, if i have a function like this

[code]

Then the Items property will become an string array, and not an array of arrays.

![image](https://user-images.githubusercontent.com/6762656/111887978-ec941100-89d8-11eb-9ecb-b3b8d359d412.png)

The same happens if i have a `Dicti

[2021-03-21 18:23] spboyer commented on #71
@thdotnet - closing issue.

[2021-03-21 18:23] #71 closed

[2021-03-22 14:59] crutchfield opened #76 "Range annotation not respected"
Is there a way to annotate models so the Open API spec show constraints like minimum and maximum in description section?

Using
       [Range(-90.0, 90.0)]
       public double latitude { get; set; }

Does not reflected latitude in the spec description with a "minimum": -90 or "maximum": 90.

[2021-03-22 20:34] marceloodiniz opened #77 "Swagger.json using HTTP instead of HTTPS"
I am using "**Microsoft.Azure.WebJobs.Extensions.OpenApi**" version "**0.5.1-preview**" and having problems when I publish my Function App. _Swagger UI_ is using HTTPS but _swagger.json_ is using HTTP. My Function App is configured to use "HTTPS Only" and "Minimum TLS Version" as "1.2".

**Swagger UI**

![image](https://user-images.githubusercontent.com/6569081/112054236-144bbc00-8b34-11eb-9515-54

[2021-03-22 22:08] justinyoo commented on #77
@marceloodiniz Unfortunately, I'm not able to reproduce your issue on my end.

Here's the screenshot I presented at Global Integration Bootcamp about less than a month ago, which uses the same **v0.5.1-preview**.

![image](https://user-images.githubusercontent.com/1538528/112064465-56154a80-8ba6-11eb-97d7-fa0b7578284d.png)

Can you please try the sample code in this repo and check if it's working

[2021-03-24 21:29] marceloodiniz commented on #77
Hi @justinyoo.

I get the sample project and have the same problem:

![image](https://user-images.githubusercontent.com/6569081/112385155-09c52a00-8cce-11eb-8d77-183a893d5076.png)

If I change the swagger.json url on Swagger UI to use HTTPS, it works:

![image](https://user-images.githubusercontent.com/6569081/112385702-ae476c00-8cce-11eb-96bd-4bff602a2453.png)

Maybe is some config on Function Ap

[2021-03-25 09:14] jscheeres commented on #77
Same issue here

[2021-03-29 21:50] buddyackerman opened #78 "Do all functions in the project have to be configured?"
I have a single function app/project.  Some of the functions are queue trigger functions others I don't have and don't want Open API configuration for.  I'm not sure if that's what's causing the error below but I tried setting up Open API on a test project/function app that I have (which has only one function that I setup OpneAPI for) and it worked fine so I am wondering if my problem is having qu

[2021-03-30 22:47] Arseth commented on #64
Same problem here when using ```OpenApiResponseWithBody``` with a generic type ```MyGenericClass<Data>```

[2021-04-01 15:08] #60 closed

[2021-04-02 02:40] ssa3512 commented on #60
@justinyoo is there any sort of specific release cadence for this project? Any thoughts on when this will get included in a nuget package?

[2021-04-02 04:18] justinyoo commented on #60
@ssa3512 We don't have a regular cadence for the release in place yet. We're currently looking at a few bugs to be included in the next release, though.

[2021-04-02 14:46] justinyoo commented on #54
@Frankyfrankly Thanks for the issue. I looked at the issue, but if you change the models' structure it will solve your issue:

[code]

To me, the circular reference issue is about how data structure looks like, rather than the issue of this extension. If you still want to keep the `Author` in your `Book` class, I would recommend adding the `[OpenApiIgnore()]` decorator on top of it like:

[code]

[2021-04-02 14:50] justinyoo commented on #69
@josephineHonore As I've got no answer from you for a while, I would close this issue. If you still experience the issue, please open a new one and include the way for repro.

[2021-04-02 14:50] #69 closed

[2021-04-02 23:28] ssa3512 commented on #64
@justinyoo  I can pick this up if you give me some guidance on what the correct result should be. The call that is failing is Line 253 here because `GetOpenApiTypeName` is returning the generic root. If two methods have two responses with the same generic root and different type params the dictionary tries to add twice with the same key. https://github.com/Azure/azure-functions-openapi-extension/b

[2021-04-03 02:15] justinyoo commented on #70
@shibayan I looked at the issue. However, if the wildcard character is omitted, it actually changes the semantics of the endpoint. In other words, the following path template implies the `{*path}` can be `hello`, `hello/world` or `hello/world/lorem/ipsum`.

[code]

But the following path template implies the `{path}` can only be `hello` or `world`, not `hello/world`

[code]

I can change the path

[2021-04-03 08:20] justinyoo commented on #75
@Assassinbeast Thanks for the issue! I can repro the issue on my end. Let me check.

[2021-04-03 08:24] justinyoo commented on #76
@crutchfield Thanks for the issue! It's not supported yet. But it could be possible to add this feature.

[2021-04-03 08:36] #75 closed

[2021-04-04 13:42] shibayan commented on #70
@justinyoo Thanks for the reply. I don't think the URL encoding of parameters is a Swagger UI issue, so I don't think it needs to be addressed, but I think the "catch all" parameter not being included in the OpenAPI definition is another issue.

[2021-04-06 07:42] josephineHonore commented on #69
Hi

I solved the error. The issue appears when a paramater is placed before the `HttpTrigger` paramater.

`public async Task<IActionResult> CreateNewDatasetVersionAsync(string datasetId, [HttpTrigger(AuthorizationLevel.Anonymous, "put", Route = "datasets1/{datasetId}")] HttpRequest req, CancellationToken cancellationToken = default)`

When i move the paramater `string datasetId` it all worked:

 `

[2021-04-06 14:29] gsimardnet opened #83 "Model casing is changed"
I defined an XML request like the following :
`        [OpenApiRequestBody(contentType: "text/xml", bodyType: typeof(Model.MyClass))]`

    public class MyClass
    {
        public MySubClass MySubClass { get; set; }
    }

    public class MySubClass
    {
        public string MyProperty { get; set; }
    }

Then when I look in the generated UI, the casing I have defined has changed:
`<?xml ver

[2021-04-06 16:21] ssa3512 commented on #83
At the moment it doesn't look like there is a way to override this using the main package that provides the templates, but if you copy in the three OpenAPI template files (`OpenApiConfiguration`, `OpenApiHttpTrigger`, and `OpenApiHttpTriggerContext`) and reference the `Microsoft.Azure.WebJobs.Extensions.OpenApi.Core` package instead, you can then change `NamingStrategy` on `OpenApiHttpTriggerConte

[2021-04-06 23:23] #64 closed

[2021-04-06 23:39] justinyoo commented on #83
@gsimardnet Thanks for the issue! You can use the suggestion by @ssa3512 as a workaround. In the meantime, I'll have a look at the configuration that can be overrideable, which is on:

https://github.com/Azure/azure-functions-openapi-extension/blob/7f70286964d0abc3fc88be32da11f50cce6652ba/src/Microsoft.Azure.WebJobs.Extensions.OpenApi.Core/IOpenApiConfigurationOptions.cs#L10-L21

[2021-04-07 03:50] Raysapps commented on #56
How can I override/ set the Open API version in the function app project to generate the swagger V 3.0?
To my understanding, "azure-functions-openapi-extension/templates/OpenApiEndpoints/OpenApiHttpTrigger.cs"  code is in the extension.dll and not sure how to reconfigure it in the function app.

[2021-04-07 05:58] justinyoo opened #84 "Configure default OpenAPI document version"
The swagger.json endpoint, `/api/swagger.json` renders OpenAPI v2 spec as default and nowhere can it override to v3 spec. It can be configureable through `IOpenApiConfigurationOptions` 🤔:

https://github.com/Azure/azure-functions-openapi-extension/blob/7f70286964d0abc3fc88be32da11f50cce6652ba/src/Microsoft.Azure.WebJobs.Extensions.OpenApi.Core/IOpenApiConfigurationOptions.cs#L10-L21

[2021-04-07 05:59] justinyoo commented on #56
@Raysapps Let's discuss it on a separate issue, #84

[2021-04-07 07:54] Raysapps opened #85 "Active Directory B2C Auth Configuration"
I've configured Azure Active directory B2C  auth flow by adding a new class  'B2CAuth' derived from the 'OpenApiOAuthSecurityFlows' interface. Unfortunately, the API Authorization is unsuccessful and returned 401 - UnAuthorized error in the swagger UI.
The code is given below. Not sure if I am missing any config settings.  Could anyone please advise?
`
 class B2CConfigAuth : OpenApiOAuthSecurityFl

[2021-04-08 20:34] Raysapps opened #86 "Invalid Route Path Error"
Initializing the Route parameter in the HTTPAttribute is resulting in undefined path errors in the generated swagger file. Could you please advise?

// Swagger Errors
{"messages":[""attribute paths.'/AddUserAccount'(post).responses is missing","attribute paths.'/Account/DeleteUserAccount'(delete).responses is missing","attribute]
 }
`public async Task<IActionResult> AddUserAccount(
            [Ht

[2021-04-09 14:25] justinyoo commented on #75
@Assassinbeast It's been released to [NuGet](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.OpenApi/0.6.0-preview). Please have a look and let us know.

[2021-04-09 14:25] justinyoo commented on #64
@powerdude It's been released to [NuGet](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.OpenApi/0.6.0-preview). Please have a look and let us know.

[2021-04-09 14:25] justinyoo commented on #60
@ssa3512 It's been released to [NuGet](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.OpenApi/0.6.0-preview). Please have a look and let us know.

[2021-04-09 14:34] justinyoo commented on #86
@Raysapps Have you added `[OpenApiResponseWithBody()]` or `[OpenApiResponseWithoutBody()]` decorators?

This document helps you: https://github.com/Azure/azure-functions-openapi-extension/blob/main/docs/enable-open-api-endpoints.md#enable-openapi-document

[2021-04-09 14:35] powerdude commented on #64
thanks @justinyoo .  I've already changed my object structure since i was under a timeline crunch, but if it works for the sample, then i'll eventually migrate back to my old setup.  Thanks for the fix!

[2021-04-09 14:36] justinyoo commented on #85
@Raysapps Thanks for the issue! I don't think your code works as expected. Would you please follow this document and let us know? https://github.com/Azure/azure-functions-openapi-extension/blob/main/docs/openapi-core.md#openapisecurityattribute

[2021-04-09 14:36] arashcomsense opened #87 "How to include POST actions' object info in swagger's web page"
I have a class like the following one that will be submitted to my HTTP-triggered function by POST action:

[code]

How can it be defined as the open api input parameter like the following example? It simply does not work as I think this kind of parameter definition applies to GET requests.

[code]

[2021-04-09 14:38] justinyoo commented on #77
@marceloodiniz Thanks for the issue! A new version, v0.6.0-preview, has been released and if I use the new version, it sorts out your issue from my end. Could you please have a look and let us know?

[2021-04-09 14:41] arashcomsense commented on #87
Closing it as I just realized `OpenApiRequestBody` is meant for this purpose.

[2021-04-09 14:41] #87 closed

[2021-04-09 14:48] justinyoo commented on #78
@buddyackerman Thanks for the issue!

With regards to exposing to OpenAPI document, only functions with the `[HttpTrigger]` binding are considered. And those selected endpoints are filtered by the `[OpenApiOperation]` decorator.

Therefore, any function other than HTTP trigger won't be selected. Any HTTP trigger function without the `[OpenApiOperation]` decorator won't be selected either.

If you

[2021-04-09 14:51] justinyoo commented on #54
@Frankyfrankly I'll close the issue for now. If you'd like to discuss more on this, please open a new issue.

[2021-04-09 15:01] justinyoo commented on #70
@shibayan Yeah, it's not something I can do on my end. If you [Google it](https://www.google.com/search?q=openapi+spec+wildcard+in+the+path), there are so many discussions around - from the spec wise to the implementation perspective.

I'm not too sure, we can get it through the `proxies.json` file. Let me try.

[2021-04-09 17:02] Assassinbeast commented on #75
Amazing! Seems to be working.
Thanks :-)

[2021-04-10 10:41] Raysapps commented on #86
Thank you for sharing the relevant doc.  I've migrated a lot of Asp.net core web APIs to Azure HTTP functions and noticed invalid errors in the swagger UI after publishing to Azure. Is it possible to report them as errors at build time?

[2021-04-10 11:23] danielabbatt commented on #86
Yes it would be nice to have an optional analyser package to suggest
missing attributes etc.

On Sat, 10 Apr 2021, 11:41 Chandra Mohan Rayaprol, ***@***.***>
wrote:

[2021-04-10 12:00] justinyoo commented on #86
@Raysapps @danielabbatt That's a good idea! Let me dig into it.

[2021-04-10 12:03] justinyoo opened #88 "Validation analysis at build time"
Suggestions from #86.

If there's an analysis package, it could be useful during the build time - what's missing or not.

[2021-04-10 12:03] #86 closed

[2021-04-10 12:03] #85 closed

[2021-04-12 03:34] Raysapps commented on #85
I noticed that the swagger shows invalid errors provided below when the "Log in with Azure Active Directory" option is set in the Azure Portal.
// error list
{"schemaValidationMessages":[{"level":"error","message":"Can't read from file https://xxxxxx.azurewebsites.net/api/swagger.json"}]}

However, the swagger doc becomes valid by resetting the option to "Allow Anonymous request (no action)". Is t

[2021-04-13 00:10] justinyoo opened #89 "Give devs an option to expose Swagger UI or not"

[2021-04-13 00:21] ssa3512 commented on #83
@justinyoo if you want to assign this to me I should be able to get a PR up later this week or weekend.

[2021-04-13 09:34] justinyoo commented on #89
Related to #39

[2021-04-13 09:37] justinyoo commented on #78
@buddyackerman As I haven't heard from you for a while, I'm closing this issue for now. If you still have the same issue, please open a new one and link to this.

[2021-04-13 09:37] #78 closed

[2021-04-13 09:37] justinyoo commented on #77
@marceloodiniz As I haven't heard from you for a while, I'm closing this issue for now. If you still have the same issue, please open a new one and link to this.

[2021-04-13 09:37] #77 closed

[2021-04-13 09:39] justinyoo commented on #25
Related to #39

[2021-04-13 09:40] justinyoo commented on #83
@ssa3512 Thanks for your support!

[2021-04-13 11:37] #84 closed

[2021-04-13 13:45] marceloodiniz commented on #77
@justinyoo, the new version (v0.6.0-preview) did **NOT** resolved my problem!

[2021-04-13 13:48] marceloodiniz opened #92 "Swagger.json using HTTP instead of HTTPS"
As explained on issue #77 , when I access Swagger UI using HTTPS, it tries to access swagger.json using HTTP, which is disabled on Azure Function App.

The version v0.6.0-preview did not resolve this problem.

[2021-04-13 14:31] justinyoo commented on #92
Could you please let me know how to reproduce your issue on my end?

[2021-04-13 14:34] justinyoo commented on #92
I published this [sample app](https://github.com/Azure/azure-functions-openapi-extension/tree/main/samples/Microsoft.Azure.WebJobs.Extensions.OpenApi.FunctionApp.V3Static), but I had no issue at all on my end.

https://fncapp-openapi-test-kc.azurewebsites.net/swagger/ui

[2021-04-13 14:46] justinyoo commented on #92
I've got the same setting as yours mentioned in #77 - HTTPS only, minimum TLS version of 1.2.

Although I tried to access to the function app through HTTP, it's automatically redirected to HTTPS. It can't render anything through HTTP like your screenshot.

It would be really great to let me know your step-by-step repro process so that I can follow it and confirm the same issue occurs on my end.

[2021-04-13 23:07] #25 closed

[2021-04-13 23:07] #39 closed

[2021-04-13 23:07] #89 closed

[2021-04-14 19:30] arashcomsense opened #94 "System.ArgumentException: An item with the same key has already been added. Key: xyz"
I've created [this sample repo](https://github.com/comsenseinc/azurehttpfunctionopenapiissue) to demonstrate the exception outlined in the subject line. The details of the issue have been described in the README.md file of that repo.

Would you please share a solution because renaming `public MyRequest Request { get; set; }` in both `MySubmittedData` and` YourSubmittedData` classes is not feasible

[2021-04-15 01:43] justinyoo commented on #94
@arashcomsense Thanks for the issue!

It's because both `MySubmittedData.MyResponse` and `YourSubmittedData.MyResponse` are considered as the same one.

I'll have a look, but no ETA at this time. If you are in time challenge, change the naming on your end can sort out the issue, if you can.

[2021-04-15 11:20] arashcomsense commented on #94
@justinyoo Unfortunately we cannot change the naming due to the reasons I already shared. We prefer a fix for this issue and for that reason we are excluding those definitions from our Open Api definitions. Please keep me posted once a fix is in place.

[2021-04-15 15:29] justinyoo commented on #92
@marceloodiniz Because I don't see any issue on my end and haven't got response from you with detailed step-by-step repro, I'll close this issue now.

If you still want to discuss, please provide us with the repro steps with details. Otherwise, we won't be able to sort this out.

[2021-04-15 15:29] #92 closed

[2021-04-15 16:38] marceloodiniz commented on #92
It is not resolved @justinyoo ..

You have to give me more time to do what you ask for me!!! I will open this issue many times !!!

[2021-04-15 22:52] #37 closed

[2021-04-15 23:18] justinyoo commented on #54
Related to: https://github.com/aliencube/AzureFunctions.Extensions/issues/134

[2021-04-15 23:20] justinyoo commented on #94
Related to: https://github.com/aliencube/AzureFunctions.Extensions/issues/133

[2021-04-15 23:21] justinyoo commented on #73
Related to: https://github.com/aliencube/AzureFunctions.Extensions/issues/132

[2021-04-15 23:21] justinyoo commented on #58
Related to: https://github.com/aliencube/AzureFunctions.Extensions/issues/132

[2021-04-15 23:24] justinyoo commented on #58
Related to: https://github.com/aliencube/AzureFunctions.Extensions/issues/126

[2021-04-15 23:24] justinyoo commented on #73
Related to: https://github.com/aliencube/AzureFunctions.Extensions/issues/126

[2021-04-15 23:27] justinyoo opened #96 "Byte[] support"
Related to: https://github.com/aliencube/AzureFunctions.Extensions/issues/119

[2021-04-16 00:42] justinyoo commented on #92
@marcelaldecoa

What I want you to give me is how you got your error. Your issue described in here and #77 won't be happening and doesn't make sense to me.

If you access to your Swagger UI through HTTPS, the doc also MUST go through HTTPS. if you go to your Swagger UI through HTTP, the doc also MUST go through HTTP, because the code is designed like that. There's no way that UI goes through HTTPS

[2021-04-16 11:07] arashcomsense commented on #94
@justinyoo  Probably it makes sense to accelerate addressing this issue.

[2021-04-17 15:20] vlaskal commented on #54
Hi @justinyoo ,

I run into same problem as is described https://github.com/aliencube/AzureFunctions.Extensions/issues/134
In my case I use health check library in Azure function project. And the response type [HealthReport](https://github.com/aspnet/Diagnostics/blob/f19a191d9eb8c6ba0542ae3ccd618fa9398734a6/src/Microsoft.Extensions.Diagnostics.HealthChecks.Abstractions/HealthReport.cs) contains ad

[2021-04-18 07:35] punthoofd07 commented on #96
Following, would like this feature as well since I have the same issue.
Thanks

[2021-04-19 14:36] Assassinbeast opened #97 "Upload File feature request"
I have a feature request to upload a binary file.

When i use Insomnia, i can choose the Body to be a "Binary File" which is what i wish to do through Swagger.
![image](https://user-images.githubusercontent.com/6762656/115252269-9fb46f00-a12b-11eb-8327-ac84e6668ff6.png)

If it will get implemented, it could for example look like this: `[OpenApiRequestBody("application/pdf", typeof(byte[]))]`

I be

[2021-04-19 22:12] john-patterson commented on #54
This is not working for me as OpenApiIgnoreAttibute seems to only be valid for `AttributeTargets.Method`.

[2021-04-20 02:55] justinyoo commented on #54
@john-patterson Oops my bad. I meant `JsonIgnore`.

[2021-04-20 04:36] ssathasivan opened #98 "Issue: {"schemaValidationMessages":[{"level":"error","message":"Can't read from file https://xxx.azurewebsites.net/api/swagger.json"}]}"
I  have includes Open API extension for an Azure Function and is exposing it using an APIM. However when i  browse to  https://xxxxxt.azure-api.net/inventory/swagger/ui . I get the error

{"schemaValidationMessages":[{"level":"error","message":"Can't read from file https://xxx.azurewebsites.net/api/swagger.json"}]}

Any help is apprciated

[2021-04-20 11:52] justinyoo commented on #98
@ssathasivan Thanks for the issue. For more detailed investigation from our end, it would be great if you give us step-by-step repro process.

[2021-04-20 15:33] arashcomsense opened #99 "System.ArgumentException: 'An item with the same key has already been added. Key: iApiResponse'"
Ran into a similar issue in the following scope:

There are two Azure HTTP-triggered functions with the following attributes:

[code]
And
[code]

Invoking swagger's UI causes the exception in the title of this issue. The full stack trace is per below:

[2021-04-20 16:11] john-patterson commented on #54
@justinyoo ah. Okay, yeah I see in the code where that gets selected out. Unfortunately `JsonIgnore` isn't a great general solution as my other serializers handle my class just fine (my class `Reviewer` has an array of reviewers for whom they vote, based on the Azure DevOps type `IdentityRefWithVote`).

Is there opposition to a PR that generalizes `OpenApiIgnore` a bit to target properties and fie

[2021-04-21 05:38] justinyoo commented on #54
@vlaskal Thanks for your suggestion! What I'm suspecting where the StackOverflowException or CircularReferenceException occurs is these two parts:

https://github.com/Azure/azure-functions-openapi-extension/blob/626d2bd0c672d05114ac2ae775ca76393cdb3ee6/src/Microsoft.Azure.WebJobs.Extensions.OpenApi.Core/Visitors/ObjectTypeVisitor.cs#L208-L216

Adding the reference schemas should also be done befor

[2021-04-21 19:46] jonathandbyrd opened #101 "Render Urls Present Locally But Not Getting Built and Deployed to Azure Function App"
I have a basic azure function, single http trigger that works correctly doing local debug and  openApi Render URL's are showing up and working fine locally as well. However, on deploying them to Azure Functions  only the single http trigger function appears. The OpenApi Render Urls/Functions are not there.

Env: 0.7.0-preview
.net core 3.1

[2021-04-21 21:28] justinyoo commented on #101
@jonathandbyrd Thanks for the issue!

It’s expected behaviour, and you’ll still see the rendering pages like `/api/swagger/ui` or `/api/swagger.json`. But, please use `v0.7.1-preview` or later because `v0.7.0-preview` has a bug on rendering those pages on Azure.

[2021-04-22 04:37] jonathandbyrd commented on #101
@justinyoo thanks so much. Yes, its "hidden" I guess be default now? but upgrading to 0.7.1-preview worked.

[2021-04-22 04:37] #101 closed

[2021-04-22 18:16] joostvanhassel commented on #98
The problem @ssathasivan is describing is caused by the fact the `swagger/ui` page contains a direct reference to the `swagger.json`, using the hostname of the azure function (`https://xyz.azurewebsites.net`), while the UI is being accessed though a reverse proxy (Azure Api Management) on another hostname (`https://xyz.azure-api.net`).

A user could manually change the hostname of the `swagger.jso

[2021-04-22 19:01] joostvanhassel commented on #98
Perhaps this should be optional: https://github.com/Azure/azure-functions-openapi-extension/blob/main/src/Microsoft.Azure.WebJobs.Extensions.OpenApi.Core/SwaggerUI.cs#L72, as the hostname of the swagger document is derived from the first server on the next line. Or this default should only be added of no custom servers are defined.

[2021-04-22 19:49] soninaren opened #102 "Remove Space between in the text "Open API" in the swagger UI presented at /api/swagger/ui"
![image](https://user-images.githubusercontent.com/8119379/115776604-2904b500-a369-11eb-9f5e-1b760e71e00d.png)

[2021-04-23 06:34] justinyoo commented on #102
@soninaren Which version are you using? There's no space between "Open" and "API" any longer since `v0.6.0-preview`

[2021-04-23 06:34] #102 closed

[2021-04-23 09:47] justinyoo commented on #98
@joostvanhassel Thanks for clarifying the issue. I'm working on it.

[2021-04-23 09:50] joostvanhassel opened #103 "Enum namingstrategy"
When you annotate Enums with `[JsonConverter(typeof(StringEnumConverter))]`, enums will be shown in the schema and accepted as string.

However, there is an inconsistency in casing:

- In the schema and examples, enum (string) values are camelCased
- In actual responses, enum (string) values are returned unchanged (meaning: returned exactly as in code)

I would expect the enum values to exactly ma

[2021-04-23 09:57] joostvanhassel commented on #98
Great! if you need more info, I can share additional info as we're running into similar issues (due to the use of Azure Frontdoor).

[2021-04-23 14:52] #98 closed

[2021-04-23 14:53] justinyoo commented on #98
It's fixed and will be included in the next release!

[2021-04-23 17:38] ssathasivan commented on #98
Thank you

[2021-04-23 21:56] jthogsett opened #105 "Schema of child collection not generated"
When a parent class has a property that's a collection of a child, and the property name is the same as the class name of the child, the child class schema won't get generated.  For example, `public IEnumerable<MultiMedia> MultiMedia { get; set; }`

Edit: To elaborate:
The property will get generated on the parent class
![image](https://user-images.githubusercontent.com/2596159/115934951-06e16480-

[2021-04-23 23:09] vlaskal commented on #54
@justinyoo Thanks for hints. I will try too look at it and will reach you back.

[2021-04-25 17:46] Philcartmell opened #106 "0.7.1 OpenApiRequestBody not surfacing Example value in swagger output"
Package versions

0.7.1-preview
Microsoft.OpenApi 1.2.3
Microsoft.NET.Sdk.Functions 3.0.11

Having added a type that inherits from OpenApiExample<T>

[code]

And specified it on the OpenApiRequestBody attribute:

[code]

The example isn't surfaced in the swagger.json or UI.

If I put a breakpoint inside the Build method() it gets hit and populates the Examples collection.

Struggling to find any m

[2021-04-25 19:28] Philcartmell commented on #106
Just realised this is due to the application running in the default version OpenApiVersionType.V2.

To change to V3 override a DefaultOpenApiConfigurationOptions and set the OpenApiVersion property to V3.

[DefaultOpenApiConfigurationOptions ](https://github.com/Azure/azure-functions-openapi-extension/blob/main/samples/Microsoft.Azure.WebJobs.Extensions.OpenApi.FunctionApp.V3Static/Configurations/

[2021-04-25 19:28] #106 closed

[2021-04-25 23:29] pavlepiramida opened #107 ""Unknown security definition type" when using OpenApiSecuritySchemeType.Bearer schema"
Hi team,

So far setting up OpenApiSecurity as
[code]
has only produced  "Unknown security definition type" on SwaggerUI Authorize modal.

Is anything else needed to make it work?

Currently our workaround is _abuse_ of apikey,

Going through documentation, we didn't notice anything else that might be missing from configuration and according to it, bearer schema should be supported.

[2021-04-27 19:27] AnlauTriCloud commented on #103
I experience the same problem

[2021-04-27 20:00] AnlauTriCloud opened #108 "object support"
My Azure function contains the following request body:

[OpenApiRequestBody(
            contentType: "application/json",
            bodyType: typeof(Payload)
...]

where the payload class looks something like this:

    public class Payload
    {
        public object value { get; set; }
        ...
    }

In the swagger file it is converted to:

"value": {
    "$ref": "#/definitions/object"
}

[2021-04-28 10:24] xsim opened #109 "Invalid function app directory"
I have 1 HTTP triggered azure function using v0.7.1-preview, which locally the swagger UI page works just fine. When deploying it through Azure DevOps into Azure, the following messages are shown in application insights:

- SwaggerUI page was requested.
- Invalid function app directory
- Executed 'Functions.RenderSwaggerUI'

Instead of the swagger UI page, a page with only the text "Invalid functi

[2021-04-28 10:56] #109 closed

[2021-04-28 12:48] russellseymour opened #110 "How to change the Authorization level on the UI and Document?"
I have written an Azure Function that has the OpenAPI Extension in it.

All of the functions that I have written have an authLevel of `function` set. I would like to do the same for the Swagger UI and the OpenAPI Document.

I see from the docs that I should be able to use the `OpenApi__AuthLevel_UI` environment variable setting. But when I set this nothing changes.

In a previous version of the ex

[2021-04-29 08:38] russellseymour commented on #110
My apologies, this was caused by a spelling mistake on the environment variable and not using the latest version of the extension.

[2021-04-29 08:38] #110 closed

[2021-04-30 00:29] justinyoo commented on #107
@pavlepiramida Thanks for the issue!

Apparently, you're relying on the OpenAPI 2.0 (Swagger) spec, based on your error message. Unfortunately, it doesn't support the [bearer token format](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/2.0.md#securityDefinitionsObject). Therefore, if you want to use the bearer token against the OpenAPI 2.0 spec, you should follow the security sche

[2021-04-30 06:37] bnlakshmibn opened #112 "Could not load file or assembly 'Microsoft.Azure.WebJobs.Extensions.Http"

[2021-04-30 06:48] bnlakshmibn commented on #112
Solved

[2021-04-30 06:48] #112 closed

[2021-04-30 07:18] bnlakshmibn opened #113 "API Authentication Not working with API Key"
Please see my local settings
[code]

[code]

When I trigger this, it is getting called without any api key auth

[2021-04-30 16:19] justinyoo commented on #113
@bnlakshmibn Thanks for the issue! If you're running on your local machine, you'll see all the UI and doc regardless how you set the auth level. But, if you deploy it to Azure, you'll see the difference.

[2021-05-01 09:55] pavlepiramida commented on #107
Hi @justinyoo,

Thank you for prompt response!

Yep, that's exactly what we have been doing (with ApiKey) so far to enable things to work!
We were under impression that default OpenAPI spec is 3.x, so decided to flag it...

Guess its back to documentation, obviously we missed something...

[2021-05-01 09:55] #107 closed

[2021-05-01 18:11] justinyoo commented on #107
If you implement this interface, `IOpenApiConfigurationOptions`, you’ll be able to set V3 spec as a default behaviour.

samples/Microsoft.Azure.WebJobs.Extensions.OpenApi.FunctionApp.V3Static/Configurations/OpenApiConfigurationOptions.cs

[2021-05-03 04:04] bnlakshmibn commented on #113
[@justinyoo  So you mean the authentication works only after deployment to Azure?
What I exactly did is

- I created an azure functions app (v3) (Used dotnet and visual studio 2019)
- I added the azute function class and added the method as shown in the previous message
- Then installed the Microsoft.Azure.WebJobs.Extensions.OpenApi extension
- Added the open api key and settings in local.settings

[2021-05-03 10:35] justinyoo commented on #113
@bnlakshmibn Yes, that's expected behaviour. Please refer to [this document](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook-trigger?tabs=csharp#api-key-authorization). It says:

Hope it makes you clear.

[2021-05-04 03:49] bnlakshmibn commented on #113
@justinyoo Oh yes. Now its clear. This was where I got confused. Thank you so much for the clarification.

[2021-05-04 03:49] #113 closed

[2021-05-04 11:41] arashcomsense commented on #94
@justinyoo any updates on this issue?

[2021-05-04 11:41] arashcomsense commented on #99
@@justinyoo any updates on this issue?

[2021-05-05 19:11] mark-comeau commented on #94
Seems like what is needed is a configuration setting and functionality similar to CustomSchemaIds as implemented here: https://github.com/domaindrivendev/Swashbuckle.AspNetCore#customize-schema-ids.

[2021-05-07 14:56] arashcomsense opened #116 "OpenApiRequestBody does not have "byte" type properties populated on Swagger UI"
Define a class like the following one code snippet:

[code]

Decorate the HTTP-triggered function per the following pattern and you will see that everything is populated but `State` on the Swagger UI.

[code]

[2021-05-11 04:34] slomangino123 opened #117 "Swagger returns "Invalid function app directory" error when running in docker"
Running a function app locally in docker compose attempting to use swagger to generate open api definitions without having to run them in Visual Studio. When running function in Visual Studio there are no issues accessing the swagger UI or other swagger resources, only when running in docker.

I've narrowed it down to this line where the Swagger extension is failing, but unsure as to why. https://

[2021-05-11 08:16] MartinWickman opened #118 "Could not load file or assembly 'Microsoft.ApplicationInsights'"
Adding app insights dependency and a TelemetryInitializer to the app breaks with an error

### Steps to reproduce:

1. Follow the [tutorial ](https://github.com/Azure/azure-functions-openapi-extension/blob/main/docs/enable-open-api-endpoints.md)

2. Add Application insight packages:

[code]

3. Add a Startup.cs with a `ITelemetryInitializer`

[code]

4. Start it
5. Go to http://localhost:7071/api/

[2021-05-11 09:15] MartinWickman opened #119 "Is there a way to automatically include <summary> comments in the swagger output?"
It's a bit of a hassle having to maintain both the `///` comments and the `OpenApiOperation[]` annotation.

This is fair for the actual operations, but becomes more of a struggle with domain objects that are returned which may have lots of properties which are already documented properly in the documentation comments. Is it possible to somehow extract the `<summary>` text and have it used by defau

[2021-05-11 12:40] Cznielsen commented on #96
I am following this as well.

[2021-05-11 19:48] vijayanand-m commented on #119
@MartinWickman  I have came across the below link to solve the above issue. I am unable to unit test in my local before sharing it here. please let me know if it is helpful
https://medium.com/@alibenchaabene/include-xml-comments-in-swagger-under-asp-net-core-2-2-webapi-7514e44cc9b1

Thanks
Vijay Anand

[2021-05-18 20:40] joostvanhassel commented on #22
https://github.com/Azure/azure-functions-dotnet-worker/pull/120

[2021-05-18 20:43] joostvanhassel commented on #22
@justinyoo the issue you mentioned in [this issue](https://github.com/Azure/azure-functions-dotnet-worker-preview/issues/12#issuecomment-773466224) seems to be resolved in [this PR](https://github.com/Azure/azure-functions-dotnet-worker/pull/120)

[2021-05-19 00:53] justinyoo commented on #22
@joostvanhassel Thanks for the heads up!

[2021-05-20 06:37] faarbaek opened #121 "Support for nested dictionaries"
I am getting an error when using nested dictionaries with a model like this:

[code]

The function is decorated with the following attribute
[code]

When accessing the swagger UI at /api/swagger/ui, I am getting the following error message:

[code]

When taking a look at the swagger json, some definitions are definitely missing:
[code]
I am using the latest version 0.7.2-preview

[2021-05-20 10:42] kaluznyt opened #122 "Endpoints visible locally but not when deployed on azure"
I have some strange issue, when adding the references, and some basic attributes to the function to see if that will work, everything is OK locally, but when deployed on Azure Function app there are no endpoints:

    [FunctionName("InProgress")]
    [OpenApiOperation(operationId: "inProgress", tags: new[] { "Events In Progress" }, Summary = "Gets the name", Description = "Get the events that are

[2021-05-20 17:31] spboyer commented on #122
You want to set the AuthLevel to anonymous AND remove the OpenAPISecurity attribute.

The other option is to pass the authkey in the url for SwaggerUI

[2021-05-21 00:17] justinyoo commented on #122
@kaluznyt Thanks for the issue!

Would you please let us know how to repro the issue so that we can dig in, on our end? Based on the code snippet, I don't see any issue why it's not coming up on Azure when it's deployed.

[2021-05-21 05:58] justinyoo commented on #121
Related to #108

[2021-05-21 06:04] justinyoo commented on #119
@MartinWickman Thanks for the issue! That's a fair call. Let me find a way how to make it.

[2021-05-21 06:10] justinyoo commented on #118
@MartinWickman Thanks for the issue! Let me have a look.

[2021-05-21 06:10] justinyoo commented on #116
@arashcomsense Thanks for the issue! For now, the `byte` data type is not supported.

[2021-05-21 06:11] justinyoo commented on #116
Let's chase this up on #96. I'll close this issue

[2021-05-21 06:11] #116 closed

[2021-05-21 06:13] justinyoo commented on #97
Related to #96

[2021-05-21 07:48] kaluznyt commented on #122
Thanks for inputs, I will try to reproduce it from scratch, however it might be specific to that project/function, will try to provide more info.

Also, some months ago I had introduced the OpenAPI e through the AlienCube package, and there everything works fine (different function, but same azure environment).

How are these related ? Is the official Microsoft package using AlienCube underneath o

[2021-05-21 07:54] kaluznyt commented on #122
@spboyer I cannot make these functions anonymous (requirements), however, the examples on the github page (https://github.com/Azure/azure-functions-openapi-extension/blob/main/docs/openapi-core.md) are always using AuthLevel of Function. I might try with anonymous just to see if the functions are visible.

[2021-05-21 08:32] kaluznyt commented on #122
I made the function anonymous and removed the open api security attribute, but it's still the same, will try with AlienCube package

[2021-05-21 09:17] kaluznyt commented on #122
I migrated to AlienCube - and everything seems ok even with the AuthLevel = Function both locally and in Azure
![image](https://user-images.githubusercontent.com/572605/119114095-17750280-ba26-11eb-84b9-0c790b24fc49.png)

[2021-05-21 09:18] kaluznyt commented on #122
Not sure if I can help with debugging on what went wrong with the azure.openapi extension since I can see no logs indicating that something went wrong

[2021-05-22 04:29] justinyoo commented on #122
It's interesting.

I just created a new Azure Functions project with Visual Studio 2019 16.10 preview 4 and deploy the function app to Azure and it works as expected. I had no changes made at all.

Could you please deploy the basic (or default) Azure Functions app to Azure, with this extension and have a look?

[2021-05-22 04:31] justinyoo commented on #122
This is a successor of the Aliencube package, which will be archived soon.

[2021-05-24 05:35] IainStevenson commented on #68
According to your answer, the Visual Studio Azure Function template function then is wrong to code the way it does. It provides misleading support for the function via the Swagger UI and json output.  As it stands the function template (Http trigger with OpenAPI) code, and the behaviour of OpenAPI are out of sync and need addressing in some way. Etiher allow it to work the way the OP expressd (Whi

[2021-05-24 05:52] IainStevenson commented on #68
I went over to look at the templates github repo, and they [removed OpenAPI support ](https://github.com/Azure/azure-functions-templates/commit/79fe4697b40a03c4a0ff0c6759fc82ca9aade61f) !

[2021-05-25 14:50] PehrGit opened #123 "Using examples gives a TypeLoadException"
When I add a Request Example, I get the following error when going to /swagger/ui or /swagger.json:

[code]

Example class:
[code]

I don't even have to reference the example anywhere, just having it in the project leads to this error, no matter if I reference it in an attribute on the request class and/or the function

[2021-05-26 01:35] justinyoo commented on #123
@PehrGit Thanks for the issue! Would you please let me know the repro?

[2021-05-26 04:37] PehrGit commented on #123
@justinyoo that's the thing, if I do the exact same thing in a new project it works fine. So something in the actual project must be causing this but I can't figure out what. Any ideas where I might look to find the cause?

[2021-05-26 06:09] justinyoo commented on #123
Interesting. Can you run these repos on your local machine?

* https://github.com/Azure/azure-functions-openapi-extension/tree/main/samples/Microsoft.Azure.WebJobs.Extensions.OpenApi.FunctionApp.V3Static
* https://github.com/aliencube/gymlog

The first one is the sample application in this repo and the second one is the one I use for my toy project. If both are working as expected, can you compare

[2021-05-26 15:30] mirecad commented on #92
I have exactly the same problem. I managed to create a workaround by specifying server url in `IOpenApiConfigurationOptions`:

[code]

[2021-05-26 21:57] brandonjpetersen commented on #122
I'm having the same issue as well, locally it works perfect with all endpoints appearing.  Deploying to Azure, I see the 'No operations defined in spec!' message.

I'm noticing that the 'paths' node of swagger.json is empty on Azure, but has full details on my local machine.

[2021-05-26 22:14] justinyoo commented on #122
@brandonjpetersen Make sure that all four endpoints starting with `Render-` are only shown in your local machine, not on Azure because they are encapsulated.

Unfortunately, I can't reproduce this issue. Have you tried the sample app in this repo and seen the same symptom?

[2021-05-27 10:23] PehrGit commented on #123
@justinyoo I tried out both repos and they both worked fine. So I started removing all of the code and all of the references from our project to determine what was causing the error. I finally determined a PackageReference to Newtonsoft.Json to be the culprit. I've created a repro repo: https://github.com/PehrGit/AzureFunctionsFileLoadExceptionRepro

It contains two projects which both generate an

[2021-05-27 10:50] justinyoo commented on #123
Oh, the very Newtonsoft.Json one? 😱

[2021-05-27 15:03] lecamarade opened #124 "Customize Info object (title, version, description)"
Hi,

Is there a way to customize the info object?
The attributes I've found are applicable to methods only.

I'd like to be able to set the version, title and the desecription.

  "info": {
    "title": "Azure Functions OpenAPI Extension",
    "version": "1.0.0"
  },

![image](https://user-images.githubusercontent.com/7397434/119849618-c6a85280-beda-11eb-9c36-564a970bb7bb.png)

[2021-05-27 15:23] brandonjpetersen commented on #122
To troubleshoot:

Started a new project in Visual Studio Version 16.9.4.
- From the VS Project template chose the 'Azure Functions' template
- Selected 'Azure Functions v3 (.Net Core)' and then chose 'Http trigger with OpenAPI'
- Set the Authorization Level to 'Anonymous'

With the initial template code, deployed through Azure Dev Ops to a Azure Function App.  Everything worked perfectly, the Swag

[2021-05-27 16:32] spboyer commented on #122
@brandonjpetersen - be sure to use Visual Studio 16.10 now available.

[2021-05-27 16:37] lecamarade commented on #124
Use DefaultOpenApiConfigurationOptions

[2021-05-27 16:37] #124 closed

[2021-05-28 05:03] brandonjpetersen commented on #122
Thanks everything is working now after recreating it with VS 16.10.  I also had to downgrade EF Core to 3.1.13.

[2021-05-31 11:40] nikolic-m commented on #96
You can add "custom" byte visitor from https://github.com/aliencube/AzureFunctions.Extensions/issues/119#issuecomment-732220807 this way:
[code]

[2021-06-01 22:32] mikecole opened #125 "Disable "Try it out" button"
How can we disable the "Try It Out" button? I see elsewhere to set the `supportedSubmitMethods` property but I cannot figure out how to do that in this context. Thank you.

[2021-06-02 04:14] flcdrg commented on #110
@russellseymour Curious where you found docs on setting that environment variable?

[2021-06-02 04:18] flcdrg commented on #110
Never mind.. found it! - https://github.com/Azure/azure-functions-openapi-extension/blob/main/docs/openapi.md#configure-authorization-level

[2021-06-02 07:15] flcdrg opened #127 "OpenApiExampleAttribute generates a value as a string (instead of maintaining structure)"
I noticed that the Swagger generation for OpenApiExampleAttribute just generates a single `value` property with a string value.

When I import the swagger.json into Postman, then it just has an encoded string for the request body example, and I have to remove the extra double quotes and the \ escapes.

Looking over at https://swagger.io/docs/specification/adding-examples/ it seems like ideally the

[2021-06-02 07:44] flcdrg commented on #127
I suspect this might rely on https://github.com/Azure/azure-functions-openapi-extension/issues/127 or similar being implemented

[2021-06-02 10:25] RobBowman opened #128 "Will this work with Isolated Azure Function and dotnet 5.0?"
Hi,

I've followed guidance [here](https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide) to a create a dotnet 5.0 Azure Function App running in an isolated host.

I've added reference to the nuget package Microsoft.Azure.WebJobs.Extensions.OpenApi (0.7.2-preview) and copied the sample "DefaultHttpTrigger" method. The only difference is I need to use the "Function" a

[2021-06-02 10:55] justinyoo commented on #127
@flcdrg That's correct. My implementation relies on it.

[2021-06-02 10:57] justinyoo commented on #128
Refer to #22

.NET 5 support is being investigated.

[2021-06-02 14:48] mogrodniczak opened #129 "OAuth2 schema question"
Hi,

I am working on OAuth2 flow and API Schema decoration. I have one question about it.

OpenApiOAuthSecurityFlows has Scopes property where you can provide multiple scopes.

`   public class OAuthSecurityFlow : OpenApiOAuthSecurityFlows
    {
        public OAuthSecurityFlow()
        {
            AuthorizationCode = new OpenApiOAuthFlow()
            {
                AuthorizationUrl = new U

[2021-06-03 05:13] rockgecko-development commented on #122
I have the same issue, using Azure Functions core 3.1 project, with references to EF Core 3.1.14. Works fine locally, but empty when deployed to Azure.
Previously I was using v `0.5.1-preview` of this package which worked, I'll downgrade to that for now.

[2021-06-03 22:12] Mastercut0r commented on #122
I can confirm this issue with no endpoints (Message: No operations defined in spec!) if deployed to azure but working fine locally.
Package version 0.7.2-preview.
Now i followed the advice of rockgecko-development to downgrade the package to 0.5.1 and it worked like a charm not only locall but after deployment to azure as well.

[2021-06-04 04:03] irwinwilliams opened #130 "Stack overflow."
I have a function project that's part of an azure static web app solution. (It's in the api folder).
I've added two functions, and decorated one with the relevant OpenApi attributes from the extension.
When I attempt to load up the swagger document via the url, http://localhost:7071/api/swagger/ui, it fails to display anything, the function host exits and "Stack oveflow." is printed to the screen.

[2021-06-04 08:38] skumpi commented on #130
I have the same issue.

For me the issue arises from this annotation:  `[OpenApiRequestBody("application/json", bodyType: typeof(Demand))]`

If the object Demand contains an IEnumerable of an interface i get the same issue.

Sample Code

public class Demand
{
    public int ID { get; set; }

    public IEnumerable<IDemand> Demands { get; set; }
}

`[FunctionName("DemandReciver")]`
`[OpenApiOperati

[2021-06-04 11:44] aryem commented on #130
I'm also facing the same issue.

[2021-06-04 12:13] PehrGit commented on #22
Just FYI I would also like NET5 support. I've got a basic version working already using a custom HttpRequest class:

[code]

For now I'm putting both a `FunctionNameAttribute` and a `FunctionAttribute` and both the old and new `HttpTriggerAttribute`s on the functions. So it's a bit of duplication but at least for now it allows us to move ahead with the .NET5 upgrade. Maybe this helps someone else

[2021-06-04 13:05] skumpi commented on #130
@aryem sorry for the bad example, in the code i ran it was not sel-referencing, this is just an effect of minimizing the code for the post. I'm making an edit, to fix this.

[2021-06-04 14:46] irwinwilliams commented on #130
Thanks much for the points on self-referencing, @skumpi @aryem!
I'm in swashbuckling mode in the project I'm using this for. I literally just went and zapped out the entity references on the type that was being referred to by the function. Just deleted them - I'll figure out the fallout.
And now the swagger endpoint works.
I expect the Az Fn Swagger Team might want to provide a way to limit the im

[2021-06-06 06:29] irwinwilliams opened #131 "A problem with CORS between azurewebsites.net and azurestaticapps.net"
Hi there,
The swagger endpoint loaded fine on my local env, but when I published my Az static web app, I got an error related to CORS and cross-domain-ness.
![image](https://user-images.githubusercontent.com/1428703/120914844-9e54ec80-c66e-11eb-8457-63f9f84e4340.png)

I know this extension is to support Az func descriptions, which is a broader concern that Az static web apps, so it may be that I s

[2021-06-07 14:35] davidfallan commented on #122
Only seems to be an issue deploying to azure via a pipeline. Manually publishing direct to azure seems to work fine. Changing to 0.5.1. resolved the pipelines problem for me.

[2021-06-07 15:18] foconnor-DS commented on #123
Is there a workaround for this? I just tried to enable OpenAPIExamples for my API services and ran into this. I can't find a version 13.0.0.0 nuget for Newtonsoft, but maybe that's not the Nuget version. I tried installing 13.0.1 directly, to avoid this problem, but nogo. Can we do a binding redirect in the .csproj?

[2021-06-07 23:51] alm0st907 opened #132 "Exporting a function with pre-defined attributes"
I am looking to write and pre-package Azure Functions to be consumed within my organization, and we would like these to be visible via the Swagger endpoint.

I played around with the source to understand more about how the functions are exported into the consuming service (such as the sample projects) but was unable to get the attributes such as OpenApiOperation to transfer across and show in the

[2021-06-08 13:53] sabryguen commented on #58
Hey @justinyoo, is there an ETA on this feature? I have similar demand for generating a swagger.json file as part of the build pipeline.

Can you think of any workarounds for the time being?

Thanks,

Sabry

[2021-06-08 17:03] foconnor-DS commented on #123
There's something funky going on here. If I add
`<_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput>`
to my csproj, then the error goes away, and I get this error instead:

[code]

The 'SampleQueryExample' is:

[code]

[2021-06-09 08:50] svrooij commented on #130
We are returning a **BadRequest** that is the same as what Asp.net core does.

[code]

So we decorated the function with:
[code]

This will immediately result in the stackoverflow exception as described above.

[2021-06-09 14:04] justinyoo commented on #131
@irwinwilliams Thanks for the issue! Have you tried to add your ASWA URL to your AzFunc app's [CORS settings](https://docs.microsoft.com/en-us/azure/azure-functions/functions-how-to-use-azure-function-app-settings?tabs=portal#cors)?

[2021-06-10 10:11] MartinWickman opened #133 "Nullable strings are not marked nullable in openapi json"
When I use a nullable property, they get marked as `"nullable": true` in the json output, which is correct.

But it seems **this is not the case for strings**. Is this a bug or is it me just being really thick here?

I tried adding `[JsonProperty(Required = Required.AllowNull)]` to the property, but that didn't work either.

This is with version 0.7.2

This is my model

[code]

And this is the out

[2021-06-11 07:11] tomkerkhove opened #134 "Any plans for a stable release?"
Any plans for a stable release?

[2021-06-11 15:34] brattpurrie opened #135 "PKCE"
Hi,

I couldnt find anything related to PKCE in the current documentation.
Are these settings configurable at this moment in time?

Regular web API:

[code]

[2021-06-11 16:42] jonmeyerson opened #136 "Object Visitor for File Responses"
I'm trying to return a file response from an Azure Function in the OpenApi format  https://swagger.io/docs/specification/describing-responses - Response That Returns a File

I think the following would be the syntax to indicate a jpeg response.
`[OpenApiResponseWithBody(HttpStatusCode.OK, "image/jpeg", typeof(byte[])]`

[code]

What am am seeing is:
[code]
This resolves as an error in the SwaggerU

[2021-06-11 17:51] alm0st907 opened #137 "Make OAuth2-Redirect Endpoint Configurable"
My team is using this package in a slightly different way. We have our own endpoint for the UI trigger so we can add some additional built in endpoints to the swagger page.

If we use an OAuth2 flow on a function, we can sign in and redirect as expected with the package's built in UI trigger, and the /api/oauth2-redirect.html endpoint will work correctly.

If we us our own trigger to build the UI

[2021-06-11 20:49] agravity-philipp commented on #68
Yes they did.. but it seems that they added a separate one: [added separate OpenAPI templatre](https://github.com/Azure/azure-functions-templates/commit/1bfaebec081d31c2d710ff6462c85365dbf6e98d)

[2021-06-13 22:09] agravity-philipp commented on #18
Any update on this? I would really need it :)

[2021-06-14 23:11] mikemassa84 commented on #77
@justinyoo, I am having the same issue and narrowed the cause down to running a function app on a Linux hosted app service plan.

Here is what I found:

- Windows Consumption Plan - Success
- Linux Consumption Plan - Success
- Linux Hosted Plan (P1v2) - **Failure**

You can see the error here:
https://openapitestl.azurewebsites.net/api/swagger/ui

I used the same function code on each plan. It is

[2021-06-15 02:00] justinyoo commented on #77
@mikemassa84 Thanks for the issue! It seems that we would need to raise the issue to the other place because it looks more relevant to the instance itself, rather than this library. Would you please raise the issue to [here](https://github.com/Azure/Azure-Functions/issues) and tag this issue?

[2021-06-15 07:50] PehrGit commented on #123
In the end we just removed the `Newtonsoft.Json` reference, apparently it was not needed. That fixed it for us :)

[2021-06-15 15:43] baltuonis opened #139 "OpenAPI query string/path parameter examples"
Now we can create example request/response for post body, which is great!
However we still can't provide examples for query string/path  parameters

Do you, guys, have this in your plans?

https://swagger.io/docs/specification/adding-examples/

[2021-06-16 06:29] cosminstirbu opened #140 "Support for multiple API documents"
Hi,

A subset of our endpoints are "administrative" endpoints that we'd like to avoid sharing them with the clients of our API.

Is there a way to have separate documents?

This would also help us when importing each definition into a separate API in Azure API Management.

Thank you,
Cosmin

[2021-06-16 08:08] smairo opened #141 "Add first class support for internet hosted css files for CustomUiOptions"
DefaultOpenApiCustomUIOptions to customize CSS file from assembly, should also support css file directly from the internet instead of assembly.

Currently you can achieve this by overriding and using HttpClient to get the css file from the internet:
[code]

What I would like to use instead:
[code]

[2021-06-16 09:37] justinyoo commented on #134
One of our dependency libraries is currently tagged as preview. Once it becomes GA, we can go GA.

That preview package is used for Logic Apps Standard, which has already become GA. I need to check the status.

/cc: @spboyer @fabiocav

[2021-06-16 09:43] tomkerkhove commented on #134
Thanks for the update!

[2021-06-16 10:34] justinyoo commented on #135
@brattpurrie The dependency library we're relying on (OpenAPI.NET) supports OpenAPI v3.0.1. PKCE support starts from v3.1.0. Once OpenAPI.NET starts supporting it, we will follow.

[2021-06-16 10:38] justinyoo commented on #125
You can implement the custom CSS and JavaScript file to disable it. Can you try this way?

[2021-06-16 10:39] #127 closed

[2021-06-16 13:47] #130 closed

[2021-06-16 14:34] mikecole commented on #125
Am I missing the documentation or sample that shows how to do this?

[2021-06-16 23:09] justinyoo commented on #125
Follow this doc and let us know how it goes: docs/openapi-core.md - UI customisation section

[2021-06-17 06:27] justinyoo commented on #141
@smairo Thanks for the issue! Let me have a look.

[2021-06-17 06:31] justinyoo commented on #140
@cosminstirbu Thanks for the issue! Let me rephrase your request based on my understanding.

For example, you've got 5 endpoints - 2 for admin purpose and 3 for consumer purpose. Then you only want to display 3 consumer ones, right?

In that case, you can add the `OpenApiIgnoreAttribute` decorator to your admin endpoints of 2. It's still working as endpoints but hidden from the Swagger UI. Is that

[2021-06-17 06:36] cosminstirbu commented on #140
@justinyoo

I'm actually interested in creating separate API documents, one for admin and one for consumer so I can import them independently as part of API Management and create two separate APIs (even if under the hood they are hosted in the same Azure Function).

Basically I'd like similar functionality with `SwaggerDoc` and `DocInclusionPredicate` from https://github.com/domaindrivendev/Swashb

[2021-06-17 06:36] justinyoo commented on #132
@alm0st907 Thanks for the issue!

All 4 endpoints starting with `Render*` are only displayed on your local dev environment, and encapsulated when deployed to Azure, which is by design. But all other endpoints written by you are exposed both on your local dev and Azure.

Is that what you're looking for?

[2021-06-17 06:41] justinyoo commented on #134
Just FYI &ndash; this library is a successor of the [Aliencube](https://github.com/aliencube/AzureFunctions.Extensions) one. Although currently it's labelled as "preview", it has richer feature sets than the other one.

[2021-06-17 06:48] tomkerkhove commented on #134
We know, that's why we'd love to see this one go stable so we can use this one instead 😁

[2021-06-17 17:08] alm0st907 commented on #132
In our use case, we write a package which adds some diagnostic and health check endpoints, and any function project which adds the package adds those endpoints, just like this package.

Originally, with the Aliencube package, we wrote our own UI render trigger, and we could add the additional documentation as we built that trigger. We migrated from Aliencube to this package to make use of the OAut

[2021-06-18 10:21] MartinWickman commented on #133
Any update on this issue?

[2021-06-20 23:33] justinyoo opened #143 "Add integration tests"
There are several sample apps running in the repo:

* V1 proxy
* V2 IoC
* V2 static
* V3 IoC
* V3 static
* V3 .NET 5

Each sample app has endpoints, and they need to be tested whether they accept parameters correctly and return payloads correctly or not.

Related reading: https://devkimchi.com/2019/08/07/azure-functions-integration-testing-with-mountebank/

[2021-06-20 23:44] justinyoo commented on #137
@alm0st907 If you want to use `/oauth2-redirect.html`, you should use the Azure Functions proxy feature, using `proxies.json` because you can't granular control of the `/api` prefix. Therefore the possible solution could be:

1. Use `proxies.json` for `/oauth2-redirect.html`, or
2. Use `host.json` to remove the `/api` prefix from all endpoints and manually add the `/api` prefix to each endpoint's

[2021-06-20 23:50] justinyoo commented on #133
@MartinWickman The `string` property itself allows nullable by default. Instead, if you add `JsonRequired` decorator to your string property, then you will be able to see the `required` attribute.

Please refer to this [doc](https://github.com/Azure/azure-functions-openapi-extension/blob/main/docs/openapi-core.md#jsonrequired).

[2021-06-20 23:51] justinyoo commented on #139
@baltuonis Thanks for the issue! I'll have a look.

[2021-06-20 23:55] justinyoo commented on #132
If you want to include some pre-packaged endpoints, you might want to look at [this code](https://github.com/Azure/azure-functions-openapi-extension/blob/main/src/Microsoft.Azure.WebJobs.Extensions.OpenApi/OpenApiTriggerFunctionProvider.cs) and [this code](https://github.com/Azure/azure-functions-openapi-extension/blob/main/src/Microsoft.Azure.WebJobs.Extensions.OpenApi/OpenApiTriggerFunctions.cs)

[2021-06-21 04:48] justinyoo opened #144 "OpenApiPropertyAttribute - Nullable, Description & Default"
The current `OpenApiPropertyDescriptionAttribute` also needs to be extended to handle both nullable and default.

[2021-06-21 07:45] MartinWickman commented on #133
Ok, if you say so :) I suppose the problem is in NSwag client (or my code) which I'm using. I reported an [issue there](https://github.com/RicoSuter/NJsonSchema/issues/1380).

Please keep this open while I'm trying to make sense of this.

[2021-06-21 11:58] justinyoo commented on #133
Related: #144

[2021-06-21 12:19] rfigueroa2014 opened #146 "Swagger UI is not rendering when function app is deployed to Azure"
Swagger UI is not rendering when function app is deployed to Azure

Get the following error:
Exception has been thrown by the target of an invocation.

[2021-06-21 12:20] #144 closed

[2021-06-21 12:59] justinyoo commented on #146
@rfigueroa2014 Thanks for the issue. However, given the information is limited, we can't provide a solution for you.

[2021-06-21 13:02] justinyoo commented on #133
@MartinWickman I've updated the `OpenApiPropertyAttribute` that you can make use of for your nullable properties. It will be released in the next release. In the meantime, it would be great if you try the code on your end.

[2021-06-21 13:29] rfigueroa2014 commented on #146
Basically when running locally,
I can see all the functions (mine and Swagger)
![image](https://user-images.githubusercontent.com/8118552/122769659-bfbef680-d272-11eb-8f43-e9377eb4865e.png)

And if I got to the swaggerUI, the page renders
![image](https://user-images.githubusercontent.com/8118552/122769788-dfeeb580-d272-11eb-9ce8-f1e98cb1edfc.png)

But once I deploy to Azure
I only see my function

[2021-06-21 16:38] alm0st907 commented on #132
Yes, I have looked at that code and generally understand it. I have written some of my own functions to pre-package endpoints...the key issue is integrating them into the Swagger UI and the generated JSON from the endpoint.

The issue is that those pre-packaged functions will not show up in the `api/swagger.json` route,  nor the Swagger UI page to interact with.

When we wrote our own trigger endp

[2021-06-21 19:06] rfigueroa2014 commented on #146
2021-06-21T19:03:35Z   [Verbose]   Request successfully matched the route with name 'RenderSwaggerUI' and template 'api/swagger/ui'
2021-06-21T19:03:35Z   [Information]   Executing 'Functions.RenderSwaggerUI' (Reason='This function was programmatically called via the host APIs.', Id=550f6d3b-52a1-4a25-adda-8b45438b1aa0)
2021-06-21T19:03:35Z   [Information]   SwaggerUI page was requested.
2021-06-2

[2021-06-21 21:24] ChrisDev3 opened #147 "Generated Favicon references not found"
The swagger documentation of a function app for the most part working for me except for an issue where the browser cannot find the favicon files generated by SwaggerUI. Chrome developer tools indicate that favicon-32x32.png and favicon-16x16.png cannot be found. Error is 'GET http://localhost:7071/api/swagger/favicon-32x32.png 404 (Not Found)'

The generated html code from the ISwaggerUI abstracti

[2021-06-21 22:29] justinyoo commented on #147
@ChrisDev3 Thanks for the issue! It's not currently included. Let me have a look.

[2021-06-22 01:54] justinyoo commented on #132
If you want to add your pre-packaged endpoints, say the HealthCheck one, those endpoints also need to follow the same as the other endpoints - adding `[OpenApiOperation(...)]`, `[OpenApiSecurity(...)]`, `[OpenApiParameter(...)]`, etc. Have you applied them all to your pre-packaged endpoints?

[2021-06-22 02:00] justinyoo commented on #146
All endpoints starting with `Render*` are hidden by design.

As your error message doesn't have enough information, you can manually set the environment variable on Azure:

[code]

Then you'll be able to see the detailed error message and stack trace. Can you please try this?

[2021-06-22 08:53] MartinWickman commented on #133
I just tried and the new attribute works as expected. Thanks for that!

So this:
[code]

Generates this:
[code]

So the attribute solves the problem, which is great but I still seems the nullable `?` type marker is not honored for strings (as in `string? email`), but it is honored for other types (like `int` and enums).

So you are in effect *required* to use this attribute if you want to have nul

[2021-06-22 09:50] justinyoo commented on #133
The string itself is nullable, isn't it? Why do you put `?` for the string property in the first place?

[2021-06-22 11:49] MartinWickman commented on #133
Well, if `<Nullable>enable</Nullable>` is set on the project and I want to allow it to be null, I most certainly need to put `?` to allow nulls, otherwise it won't even compile ([CS8625] Cannot convert null literal to non-nullable reference type), but that's not what you are referring to, right?

[2021-06-22 14:46] justinyoo commented on #133
Data types like `int`, `bool`, `DateTime`, etc doesn't allow `null`, while `string` allows it. Therefore, if a property of `int` type needs to be nullable, you should append `?`, for example. However, you don't need the `?` for the `string` because the `string` type allows `null` by default.

I'm not sure whether this behaviour changes when you explicitly enable the nullable feature (like C# 9).

[2021-06-22 15:16] MartinWickman commented on #133
Thanks. Here is the catch, I think:

If you have [nullable references, c# 8](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/builtin-types/nullable-reference-types) enabled in your project (as I have) then `string email` is **not allowed to be null**. You get a compilation error if you try to assign it to null. So you absolutely need to put a `?` there. The same goes for all refe

[2021-06-23 09:10] flcdrg opened #148 "date format instead of date-time"
Is there a way to make types of `System.DateTime` be represented as OpenAPI format 'date' (rather than 'date-time')?

I note that there are [`DateTimeObjectTypeVisitor`](https://github.com/Azure/azure-functions-openapi-extension/blob/main/src/Microsoft.Azure.WebJobs.Extensions.OpenApi.Core/Visitors/DateTimeObjectTypeVisitor.cs) and [`DateTimeTypeVisitor`](https://github.com/Azure/azure-functions-o

[2021-06-23 23:19] alm0st907 commented on #132
Yes, I have applied those attributes, and they do not transfer across from the originating package into the consumer and are not in the resulting Swagger page.

[2021-06-24 12:57] justinyoo commented on #132
Alright. That's because it only looks for the current runtime DLL and OpenAPI package, not your pre-package DLL. Let me find out how we can put additional DLLs like your pre-package ones.

[2021-06-24 13:01] justinyoo commented on #148
There's currently no way to represent the `DateTime` type to the `date` format. Let me keep this issue open until finding out a suitable way.

[2021-06-24 21:49] kotac24 opened #150 "Byte Array in response body is failing to render swagger"
Hi,
Using Http trigger function with Open Api integration, Swagger UI will fail to render if there is a byte[] type in your response.
Very easy to reproduce, create a new Http trigger project with open API integration. Decorate your function with something like:
`[OpenApiResponseWithBody(statusCode: HttpStatusCode.OK, contentType: "application/json", bodyType: typeof(TestResponse), Description = "

[2021-06-25 01:22] flcdrg opened #151 "Setting minLength property"
Is it possible to set the minLength property (eg. via `[System.ComponentModel.DataAnnotations.StringLength(int.MaxValue, MinimumLength = 4)]` or similar?

[2021-06-25 06:49] justinyoo commented on #151
Related to #76

[2021-06-25 06:51] justinyoo commented on #150
Related: #96

[2021-06-25 16:17] minimonsters commented on #119
This project (https://github.com/Microsoft/OpenAPI.NET.CSharpAnnotations) did exactly that, but seems to have been abandoned.  It would be nice if that functionality could be integrated.

[2021-06-25 22:06] GaryFreeman commented on #118
I've faced the same issue. It seems that some of the types in FunctionApp dll cannot be loaded because they depend on types in different assemblies which are not loaded.

I've created a minimal reproduction repository to help maintainers reproduce it.

https://github.com/GaryFreeman/AssemblyLoadMinimalReproductionFunctionApp

[2021-06-26 10:47] GaryFreeman commented on #118
I've made a fix of that issue. Can you have a look, please?

https://github.com/Azure/azure-functions-openapi-extension/pull/152

[2021-06-28 15:26] #141 closed

[2021-06-28 23:46] #22 closed

[2021-06-28 23:46] #128 closed

[2021-06-29 09:49] OliverNET opened #153 "Reuse enum definition multiple times"
Enum in generated OpenAPI document is defined inline.

[code]

When using an enum multiple times within the same API, Visual Studio 'Connected Services' (utilizing nswag) will generate multiple enum definitions on client-side for the same enum. This requires uneccessary type conversions in client code.

OpenAPI spec allows to define enum as reference, which results in only one enum definition on c

[2021-06-29 11:31] justinyoo opened #154 "System.Text.Json Support"
Azure Functions v3 has a strong dependency on `Newtonsoft.Json`. For future proof, it should be decoupled from the runtime and support both `System.Text.Json` and `Newtonsoft.Json` on dev's choice, especially for .NET 5+ isolated worker environment.

[2021-06-29 12:59] cosminstirbu commented on #140
I agree that from an architectural decision it would make more sense to split it (and in a normal scenario we would, but in our case we have only two admin endpoints that are used to delete test data generated by our semantic monitoring tests - so creating a dedicated Azure Function for them would come with a lot of ceremony - Terraform scripts, Azure Pipelines scripts, etc).

We are already using

[2021-06-29 13:22] badmyt opened #155 "StyleCop produces errors for files downlodaded to .nuget directory"
I faced an issue when trying to integrate [StyleCop](https://github.com/StyleCop/StyleCop) into our project, which uses `Microsoft.Azure.WebJobs.Extensions.OpenApi`

StyleCop checks `/.nuget/packages/microsoft.azure.webjobs.extensions.openapi/0.5.1-preview/contentFiles/any/netstandard2.0/OpenApi/` folder and scans codestyle in following files:

`OpenApiHttpTrigger.cs`
`OpenApiHttpTriggerContext.cs

[2021-06-30 17:58] RGBKnights opened #156 "List of Recursive Models"
I have a Field class that list columns that is also a Field.
[code]

Everything I know about the OpenAPI spec tells me this should be possible but the whole application crashes trying to render the swagger UI with a System.StackOverflowException.

[2021-06-30 21:05] binarybasher opened #157 "swagger.json missing "paths" when deployed as Azure Functions from DevOps"
This works locally and works when I publish from VS directly to Azure Functions.

When I run this through DevOps Build Pipeline and Release to Azure Functions everything is working except the "paths" property in the swagger.json file is empty.

Windows target system.

[code]

No errors in the Azure Functions LogStream.
---
2021-06-30T21:02:59.179 [Information] Executing 'Functions.RenderSwaggerDoc

[2021-07-01 05:20] justinyoo commented on #157
@binarybasher Thanks for the issue! Please make sure that all four endpoint starting with `Render*` are only shown on your local dev environment. Once it's deployed to Azure, they're all encapsulated..

[2021-07-01 07:01] binarybasher commented on #157
Thanks for your response @justinyoo

Are you saying that the automated swagger.json is not created in Azure because it's only for the dev environment?

And what do you mean by "they're all encapsulated"?  I wanted to expose the API using this automated swagger.json and the Azure Functions API definition.

[2021-07-01 13:35] anvudemy commented on #151
Dear team, will be happy to contribute to the projects good first issues. Request to help with where, and how to start...regards

[2021-07-01 16:41] kvargas94 commented on #157
I have the same issue...

[2021-07-01 16:44] kvargas94 commented on #157
in this https://github.com/Azure/azure-functions-openapi-extension/blob/main/docs/enable-open-api-endpoints.md
![image](https://user-images.githubusercontent.com/44960003/124160142-93b92780-da61-11eb-9a83-8e8866c23caa.png)
you say that is deploying the swagger ui.

[2021-07-02 12:42] joostvanhassel opened #160 "Returning ValidationProblemDetails returns invalid swagger / openapi json"
When marking a function with:
`[OpenApiResponseWithBody(HttpStatusCode.BadRequest, "application/json", typeof(Microsoft.AspNetCore.Mvc.ValidationProblemDetails))]`
(namespace inlined for clarity)

SwaggerUI shows the following issue:
![Screenshot 2021-07-02 at 14 38 10](https://user-images.githubusercontent.com/3026716/124275661-2382d280-db43-11eb-80b4-a2a33630e2de.png)

Which might be caused by t

[2021-07-02 17:05] justinyoo commented on #133
Thanks for clarifying the `nullable` in C# 8+.

Just make sure that this library targets `netstandard2.0` which supports C# 7.3 by default. As we have to consider as comprehensive as possible, we can't easily change the target framework to `netstandard2.1` that supports C# 8 by default.

Therefore the best available option to make either `string` or `string?` type properties to be `nullable`, you

[2021-07-02 17:51] MartinWickman commented on #133
Nice work! Yes, the decorator it’s a proper way to deal with it. Although of course, native support for C#8 would be a nice boon.

[2021-07-04 03:34] justinyoo commented on #157
@kvargas94 Oh, yes. The screenshot should be updated. It reflects the old version of this library.

[2021-07-04 03:35] justinyoo commented on #157
@binarybasher Your function endpoints you write, excepts 4 endpoints starting with `Render`, will be shown on Azure. The 4 OpenAPI-specific endpoints are also deployed to Azure but not showing up on the Portal.

[2021-07-04 10:43] binarybasher commented on #157
@justinyoo thanks, that explains why I couldn't see the swagger endpoints although I could see them running when called.

What I'm confused about is why the "paths" property of the dynamically generated swagger.json is empty, this happens when I publish from Azure DevOps Pipeline, but it works fine if I publish from VS to Azure.

Why would the "paths" property failed to generate anything?  There d

[2021-07-04 10:57] justinyoo commented on #157
Did you expect those 4 endpoints to be shown up on your swagger.json? They won't be showing up on your Swagger UI nor OpenAPI document (swagger.json), as they are NOT yours.

Have you implemented any endpoint of yours? Again, only yours will be showing up, not those 4 endpoints (these are not "yours"). Did you fail to see your endpoints on swagger.json?

[2021-07-04 11:05] binarybasher commented on #157
@justinyoo I didn't expect to see the render endpoints no, I expected the swagger.json (dynamically created) to contain the "paths" data, which it does if I publish from VS or run locally.

It shows an empty "paths" property when deployed through DevOps to Azure, that's the issue, so the question is why and how to resolve?

`{
  "swagger": "2.0",
  "info": {
    "title": "Azure Functions OpenAPI E

[2021-07-04 12:41] justinyoo commented on #157
That's what I'm asking.

Which endpoints are you expecting to see - yours or mine? Mines are those 4 endpoints and you won't be able to see mines on Azure - meaning, mines won't be included in the `paths` attribute of your swagger.json.

If you can't even see yours in the `paths` attribute, please let me know how to reproduce this error on my end.

[2021-07-04 12:55] #103 closed

[2021-07-04 13:10] binarybasher commented on #157
@justinyoo indeed it is **our application endpoints** that are missing from the generated "paths" property, they appear when running the project locally and they appear if we publish from visual studio to Azure Functions.

Example from project run locally
`"paths": {
    "/application-settings": {
      "post": {
        "tags": [
          "Application Settings"
        ],
        "summary": "Cre

[2021-07-04 17:53] binarybasher commented on #157
@justinyoo I tried a few build commands locally and I can reproduce the issue with the missing 'paths' property values.

The following build commands are successful and the functions run just fine, except the swagger.json 'paths' is empty.
[code]

I've found that I need to use the msbuild option to build and then the swagger.json 'paths' property has the values as expected.

[2021-07-04 18:26] binarybasher commented on #157
@justinyoo  weirdly when I use the msbuild command in the DevOps pipeline it produces output that runs but doesn't generate the 'paths' value, still....

[2021-07-05 00:11] justinyoo commented on #157
Alright, we're now on the same page (at least I understand what I am talking...).

* What version of AzFunc OpenAPI extension did you use? The latest one is 0.7.2-preview.
* What NuGet packages are you using, other than this extension?
* Can you please share bare minimum repro code with me? I don't need your business logic but the methods decorated with those `[OpenApi...]` attribute classes. Repl

[2021-07-05 00:24] justinyoo commented on #157
Just FYI - here's my GitHub Actions workflow for my toy project using this extension:

https://github.com/aliencube/GymLog/blob/main/.github/workflows/app.yaml

Which uses dotnet CLI and azure CLI for build, test and deploy.

---

Here's another suggestion:

If you can capture the build/test/deploy commands from the Visual Studio output window, can you apply those commands to your AzDevOps pipelin

[2021-07-05 12:47] binarybasher commented on #157
@justinyoo I prepared the minimum code to send over to you, but then decided to review your yaml settings beforehand.

I noticed that you was performing a restore, build and publish (artifacts) separately and thought I should try this too.

I setup my pipeline in the same way, with the following:
- dotnet restore . (retrieves resources/packages)
- dotnet build <project file> -c Release (builds pro

[2021-07-05 16:46] justinyoo commented on #157
@binarybasher Glad it's sorted out! Yeah, I agree that there are some odds during the build, which is a bit unclear. It would be great if you can do further investigation.

For now, I'm closing this issue.

[2021-07-05 16:46] #157 closed

[2021-07-05 19:48] trevorchunestudy opened #162 "Invalid function app directory when deployed to azure."
I have the same issue as #109.  It was marked as closed but no explanation.  Any ideas?  I am deploying via az cli (zipped).  Nothing really all that interesting otherwise to report about it.  It is basically a hello world function app.  Swagger.json displays locally but not deployed.

[2021-07-05 20:51] justinyoo commented on #162
@trevorchunestudy Which version of extension are you using? The latest one is 0.7.2-preview. There was an issue on 0.7.1-preview, which was mentioned in #109.

[2021-07-05 21:39] trevorchunestudy commented on #162
I got to remember to check that `include pre-releases` checkbox.  I was on 0.7.0.  Unchecked the prelease box (roll-eyes) and upgraded to 0.7.2.  Deployed via pipeline and works correctly.  Thanks @justinyoo  for the very fast response.

[2021-07-05 21:39] #162 closed

[2021-07-06 16:36] mdg215199 opened #163 "When running proxy, error locating Microsoft.Azure.AppService.Proxy.Common.XmlSerializers.dll"
When trying to use proxy, I get errors when running:

System.IO.FileNotFoundException
  HResult=0x80070002
  Message=Could not load file or assembly 'C:\Users\mdgar\AppData\Local\AzureFunctionsTools\Releases\3.23.5\cli_x64\Microsoft.Azure.AppService.Proxy.Common.XmlSerializers.dll'. The system cannot find the file specified.
  Source=<Cannot evaluate the exception source>
  StackTrace:
<Cannot eva

[2021-07-08 12:34] Skovvart commented on #156
I am experiencing the same issue. Some more details:

My minimally reproducible model:
[code]

Error occurs when requesting the swagger.json file
[code]

Workaround (-ish):
Changing
`[OpenApiResponseWithBody(HttpStatusCode.OK, "application/json", typeof(Category), Example = typeof(CategoryExample))]`
to
`[OpenApiResponseWithBody(HttpStatusCode.OK, "application/json", typeof(object), Example = type

[2021-07-08 12:45] #76 closed

[2021-07-08 12:45] #151 closed

[2021-07-08 14:43] #133 closed

[2021-07-08 14:44] #118 closed

[2021-07-08 15:35] justinyoo opened #165 "OpenAPI version, document version, document title from environment variables"
OpenAPI version, document version and document title should be as flexible to read from environment variables as possible.

[2021-07-08 21:07] IamLeandrooooo opened #167 "OpenApi fails to use a model with a property named Aliases"
Hi guys, so, I have this model in my solution:

[code]

If I try to add this property to the Function:
`[OpenApiResponseWithBody(statusCode: HttpStatusCode.OK, contentType: "text/plain", bodyType: typeof(List<WeatherForecast>), Summary = "The response", Description = "This returns a weatherList")]`

And if I try to check the Function Swagger, I get this error:
![image](https://user-images.githubus

[2021-07-09 01:50] #165 closed

[2021-07-09 02:09] justinyoo commented on #167
That's interesting. Can you change the class name from `Aliases` to `BlackWidows` and property name to `BlackWidows`, and see how it's going?

Try this (class name with `s`):

[code]

And try this (class name without `s`):

[code]

[2021-07-09 08:20] IamLeandrooooo commented on #167
So I tried that and indeed failed.

It seems like when the Property has the same name as the class, it fails.

But, as far as I can confirm, it only happens for objects of List<T>, because I have a Property in my main project with the same name of the model but it is like this:

`public Class Class { get; set; }`

and it works.

The moment I change it to List<Class> Class it fails with the Swagger

[2021-07-09 10:39] Skovvart opened #168 "Question: OpenApiOAuthFlows configuration options"
I am in the process of trying to configure an `OpenApiOAuthFlows` (for oauth clientcredentials) and was hoping to be able to access configuration (or maybe even other services), but it does not seem to be supported through constructor injection or in any alternative approaches. The error from attempting constructor injection is simply `No parameterless constructor defined for type`.

Is there an a

[2021-07-09 10:43] #148 closed

[2021-07-09 11:28] JoachimL opened #170 "Enum values are documented according to naming strategy"
We are having some issues with how our enum values are documented by this extension.
The root cause is this function, which (regardless of DisplayAttributes, etc) always ends up lowercasing the first letter of the enum values. (We do use StringEnumConverter).

        public static string ToDisplayName(this MemberInfo element, NamingStrategy namingStrategy = null)
        {
            element.Thr

[2021-07-09 11:33] PehrGit commented on #22
@justinyoo great to see that the PR with out-of-proc support has been merged, any ETA on an updated NuGet package containing the new goodies?

[2021-07-09 11:38] fredriklrsn commented on #170
I have also had the same issue with the open api documentation handling the enum values different than the function api serializer, which leads to mismatch between documented and returned values.

[2021-07-09 11:40] joostvanhassel commented on #170
This seems to be a duplicate of #103 which was solved in #159

[2021-07-09 12:15] fredriklrsn opened #172 "Incorrect *.deps.json selected leads to no functions found"
I have an issue with the open api extension picking the wrong *.deps.json file when determining which dll to search for functions in. This leads to an empty documentation

![image](https://user-images.githubusercontent.com/24248904/125075517-01e39700-e0bf-11eb-97f1-9b2c2f7f9f0e.png)

It seems like the first *.deps.json file is selected.

![image](https://user-images.githubusercontent.com/24248904/

[2021-07-09 13:08] justinyoo commented on #168
@Skovvart Thanks for the issue!

I'm not sure what you want to achieve. `OpenApiOAuthFlows` comes from [OpenAPI.NET](https://github.com/microsoft/OpenAPI.NET/blob/vnext/src/Microsoft.OpenApi/Models/OpenApiOAuthFlows.cs), which only has a parameterless constructor.

This extension has `OpenApiOAuthSecurityFlows` that inherits `OpenApiOAuthFlows`, and it also only has the parameterless constructor.

[2021-07-09 14:29] mogrodniczak opened #173 "OpenAPI extension does not work when using EF Core >= 3.0"
Hi all,

Today I faced an issue when I started to use EF Core in my function app.

Error:
[code]

Steps to reproduce:

1. Create brand new Function App project in VS - .NET Core 3.1 / Function App v3
2. Install OpenAPI Extension
3. Run function app
4. Open http://localhost:7071/api/openapi/1.0 in the web browser - it does work
5. Install EF Core 3.1.6
6. Run function app
7. Open http://localhost:7

[2021-07-09 17:55] JoachimL commented on #170
Confirmed - this is a duplicate.

[2021-07-09 17:55] #170 closed

[2021-07-09 18:14] sharpt00th opened #174 "OpenApiRequestBody.Description missing in rendered requestBody"
When setting property **Description** in an OpenApiRequestBody attribute, this text is omitted from the Swagger output (specifically, as a property of requestBody).
This issue can be observed using the PetStoreHttpTrigger sample, in method UpdatePet which has the attribute set as follows:

`[OpenApiRequestBody(contentType: "application/json", bodyType: typeof(Pet), Required = true, Description = "

[2021-07-11 12:02] Sebosek opened #175 "BlobNotFound installing from nuget.org"
Hi,

getting BlobNotFound during installation from nuget.org. Is something happening or a temporary outage?
![image](https://user-images.githubusercontent.com/372542/125194206-94677000-e250-11eb-8b28-57b73858c7ac.png)

[2021-07-11 18:23] CharlieDigital opened #176 "Samples rendering "No operations defined in spec!""
I cloned the repo and ran the V3IoC sample from the terminal (VS Code).

My functions version info:

[code]
SDKs:

![image](https://user-images.githubusercontent.com/779970/125207755-02656480-e25c-11eb-88b0-4b41f0006fc0.png)

I start the runtime via `func start`:

[code]

And I can see the endpoints registered correctly:

![image](https://user-images.githubusercontent.com/779970/125207399-20ca6080

[2021-07-11 18:25] CharlieDigital commented on #176
I cloned the repo and ran the V3IoC sample from the command line.

My functions version info"

[code]

When I load the UI in the browser, I get the following:

![image](https://user-images.githubusercontent.com/779970/125206178-c8906000-e253-11eb-9ecf-dded6dd3c92e.png)

Am I missing something really obvious?

[2021-07-12 00:27] CharlieDigital commented on #176
Closing because this looks like a duplicate of #172

[2021-07-12 00:27] #176 closed

[2021-07-12 03:18] rockgecko-development opened #177 "How to filter and customise which API endpoints are exposed"
I needed a way to customise which API endpoints are exposed, so I created a custom `DocumentHelper` and overrode `List<MethodInfo> GetHttpTriggerMethods(Assembly assembly)`, providing my own custom implementation. I also needed to add a custom `OpenApiHttpTriggerContext`. This works great for me on `v0.5.1` - here's a gist if anyone would like to see how: https://gist.github.com/rockgecko-developm

[2021-07-12 07:42] Skovvart commented on #168
Hi @justinyoo

Thanks for replying. Let me try to elaborate on what I am trying to achieve.

As mentioned, I am trying to describe OAuth 2 Client Credentials flow on my API.

To do this, I am using this extensions `OpenApiSecurity` attribute with the `Flows` property pointing to my (client credentials) configuration:
[code]

In my `OpenApiOAuthFlows` implementation I need to set up values, in this

[2021-07-12 08:16] Skovvart commented on #173
Same issue seems to occur with other extensions such as `<PackageReference Include="Microsoft.Extensions.Http" Version="3.1.15" />` that also has a dependency to `Microsoft.Extensions.Logging.Abstractions`.

[2021-07-12 08:20] Skovvart commented on #156
The issue seems to be a duplicate of #54

[2021-07-12 13:10] ThumNet opened #178 "Problem when restoring Microsoft.Azure.WebJobs.Extensions.OpenApi 0.8.0-preview"
Hi,

When restoring the `Microsoft.Azure.WebJobs.Extensions.OpenApi 0.8.0-preview` package we receive the following error in our Pipeline:

[code]

It appears to be a dependency of the package:
https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.OpenApi.Core.Extensions/

[2021-07-12 13:18] justinyoo commented on #178
@ThumNet Yes, we're aware of it and in the middle of fixing it. In the meantime, please stay at 0.7.2-preview.

[2021-07-12 13:19] justinyoo commented on #178
Related to #175

[2021-07-12 13:20] justinyoo commented on #175
@Sebosek Yes, we're aware of it and in the middle of fixing it. In the meantime, please stay at 0.7.2-preview.

[2021-07-12 13:21] justinyoo commented on #172
@fredriklrsn Thanks for the issue! Let me have a look.

[2021-07-12 13:23] justinyoo commented on #167
Thanks for the confirmation. Let me have a look.

[2021-07-12 13:27] justinyoo commented on #177
Related to #175

@rockgecko-development We got reported not all the list of the latest version of 0.8.0-preview packages have been released. We're in the middle of investigating it and will be fixed soon. In the meantime, please stick on 0.7.2-preview.

[2021-07-12 13:30] justinyoo commented on #168
@Skovvart Thanks for the detailed explanation! Please use `Environment.GetEnvironmentVariable(...)` option for the time being. I'll keep this open for further discussion.

[2021-07-12 17:04] IamLeandrooooo commented on #167
Thank you very much!
When you have news about it, let me know! 😁

[2021-07-12 18:10] ThumNet commented on #178
Thank you for the reply, reverted to 0.7.2.
Good luck with the investigation!

[2021-07-13 02:13] rockgecko-development commented on #177
Sorry I can't update to `0.7.2`, I'm still on `0.5.1` due to #122

I jumped to github to get the source code to figure out how to override what I needed to, and that's when I noticed it had been removed from `IDocumentHelper`.
Not using the latest, just flagging this as a possible API design issue.

[2021-07-14 09:54] PehrGit commented on #178
Hi @justinyoo, any luck so far?

[2021-07-15 21:45] JosueLimaG opened #179 "Nullable types support on examples"
When using a nullable byte type on a request body example, the following response is returned with a 500 response code

Sequence contains no elements

   at System.Linq.ThrowHelper.ThrowNoElementsException()
   at System.Linq.Enumerable.First[TSource](IEnumerable`1 source)
   at Microsoft.Azure.WebJobs.Extensions.OpenApi.Core.Visitors.NullableObjectTypeVisitor.Visit(IAcceptor acceptor, KeyValuePai

[2021-07-16 05:26] rockgecko-development commented on #172
This may be causing #122  as well

[2021-07-16 08:26] joostvanhassel commented on #178
@justinyoo it seems three projects are excluded from `dotnet pack` in the `v0.8.0-preview`-branch;
https://github.com/Azure/azure-functions-openapi-extension/commit/3ac094ff8e9b5550c40c01a73b71be2841579360#diff-a54e4b4b9f4c4f4662f53f10d2d46d0764b5f6480d0124360d104139f1160576R12-R15

Would un-commenting these lines resolve the issue, or are there other issues which need to be solved?

[2021-07-16 16:57] mikemassa84 commented on #15
any update on this?

[2021-07-17 09:40] emrekara37 commented on #174
Hi, @sharpt00th
I started a PR with your solution

[2021-07-18 07:32] igerasymchuk opened #181 "Failed to load API definition with JsonProperty attributes"
Get this error when I use JsonProperty attributes in my model.

`Could not load file or assembly 'Newtonsoft.Json, Version=13.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed'. The system cannot find the file specified.`

My code:

`[OpenApiResponseWithBody(statusCode: HttpStatusCode.OK, contentType: "application/json", bodyType: typeof(User), Example = typeof(User), Summary = "200 response

[2021-07-20 09:26] jan-harders commented on #140
Would be a great feature to have support for more than one API document. Our team is struggeling with the same scenario: admin APIs. Very often, we have a thin layer/add-on to  our domain services (each implemented by a single Azure Function App). E.g. we often need to trigger a post-deployment API endpoint, that runs some setup steps (ensure ressources are up and ready, event subscriptions to ext

[2021-07-21 12:29] justinyoo opened #182 "Revising .NET 5 / Isolated Worker Support"
As the current codebase needs to be restructured, the .NET 5 and isolated worker support also needs to be revised.

[2021-07-21 12:30] justinyoo commented on #182
Related to #22

[2021-07-22 12:09] joostvanhassel commented on #182
What will be revised and will this block a release of the current implementation as `0.8.0`?

[2021-07-22 18:58] matthewkrieger commented on #22
@justinyoo Why is nuget offering up the .net 5 versions if they aren't compatible with the project type?

[2021-07-23 19:24] kzryzstof commented on #22
Following PehrGit's workaround, I have created an `DocumentHelperAdapter` class that wraps the original `DocumentHelper`. The new wrapper creates a bridge between the legacy `FunctionNameAttribute` / `HttpTriggerAttribute` and the new `FunctionAttribute` / `HttpTriggerAttribute.

Here is the wrapper. Aside from the methods `GetHttpTriggerMethods`, `GetFunctionNameAttribute` and `GetHttpTriggerAttr

[2021-07-28 08:12] Ashan-FCC opened #183 "Error with loading file Microsoft.Azure.WebJobs.Extensions.Http.dll"
Get this error when I go to URL `/swagger/ui`

![image](https://user-images.githubusercontent.com/20638666/127287527-4966f428-9da9-4832-af9e-345155b5dcca.png)

The assemble is available in  _bin/Debug/netcore3.1/_ directory but not in _bin/Debug/netcore3.1/bin/_.

I tried manually copying this file to the  _bin/Debug/netcore3.1/bin/_ directory. The error goes away then, but I see an empty API defi

[2021-07-30 17:01] abhishek14anandDev opened #184 "How to override the openAPi title,version and description"
How to override the openAPi title,version and description.

It always comes with Azure Functions Open API Extension

[2021-08-02 00:03] justinyoo commented on #182
The current approach of .NET 5 (and isolated worker) support is no longer valid. I'll remove all the related logics. The rest will be published to `v0.8.1-preview` soon.

[2021-08-02 00:28] justinyoo commented on #184
Please inherit [`DefaultOpenApiConfigurationOptions`](https://github.com/Azure/azure-functions-openapi-extension/blob/main/docs/openapi-core.md#inheriting-defaultopenapiconfigurationoptions)

[2021-08-02 00:28] #184 closed

[2021-08-02 04:13] justinyoo commented on #182
Related to: https://github.com/Azure/azure-functions-dotnet-worker/issues/562

[2021-08-04 14:33] AdrianoAE opened #186 "Missing definition"
I'm using the version 0.7.2 and my response type is the following case:

[code]

The schema for the Test class won't be generated becase of the property with the same name, if we change it to any other name it works as intended

Another problem is with generics

[code]

This generates a schema called "baseResponse_list`1" which is problematic with Azure APIM

[2021-08-04 15:44] #174 closed

[2021-08-04 15:47] justinyoo commented on #182
Interim workaround: #187

[2021-08-04 17:08] ducman opened #188 "Project Reference => No operations defined in spec!"
Steps to reproduce:
1. Create azure function project; name it FunctionApp1
2. Run the function project and notice swagger json/ui is working correctly.
3. Create class library project; name it ClassLibrary1
4. Add class library project as a project reference to the azure function project.
5. Do a clean/rebuild and run the function project and notice swagger is working with no errors but "No operat

[2021-08-04 21:13] ducman commented on #188
Closing this issue since it is a dupe of #172

[2021-08-04 21:13] #188 closed

[2021-08-05 10:25] mogrodniczak commented on #173
Hi @Skovvart, thank you for your suggestion. Your workaround works well If you are not using the OpenApiSecurity attribute. If I have it in my function decoration I get this error:

`Exception has been thrown by the target of an invocation.

   at System.RuntimeTypeHandle.CreateInstance(RuntimeType type, Boolean publicOnly, Boolean wrapExceptions, Boolean& canBeCached, RuntimeMethodHandleInternal&

[2021-08-05 15:22] Skovvart commented on #173
I am guessing that the the above is a separate issue, where your `OpenApiSecurityAttribute` implementation lacks a parameterless constructor (see #168 for some more context).

[2021-08-06 16:49] OlegGavrilov commented on #182
Any chance for ETA? We are really looking forward for swagger in our isolated functions apps. Thanks!

[2021-08-07 00:52] justinyoo commented on #182
The `v0.8.1-preview` packages are under review before publishing to nuget.org. Once the review is done, it will be released. @fabiocav Would you please give us ETA for publish?

[2021-08-09 14:26] UoR-CJTalbot opened #189 "Help with OpenApi__ApiKey for swagger.json"
Hi,

I have deployed the function into Azure and setup the OpenApi__ApiKey and set OpenApi__AuthLevel__Document to Function in the settings but I can't get passed the authentication (401).

What does the querystring parameter need to be called, I have tried OpenApi__ApiKey  and code but neither seem to work.

https://github.com/Azure/azure-functions-openapi-extension/blob/main/docs/openapi.md#Conf

[2021-08-09 21:28] #189 closed

[2021-08-11 02:21] justinyoo commented on #182
Released: https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker.Extensions.OpenApi

[2021-08-11 08:37] kharnt0x commented on #167
We have been seeing this issue but also another one.

When two objects share a list with the same type, that property is excluded from one of the specs.

i.e.

[code]

Will result in a swagger spec where Foos is missing from either Bar or Baz. If I copy the Foo object (say calling it Foo2), and change the type on one of the Lists to use that, everything is generated okay.

[2021-08-11 08:57] kharnt0x opened #191 "public fields not being added to spec"
It looks like public List fields are not being added to openapi specs, while auto-properties work fine.

For example this doesn't get added to spec

`        public List<ParentReceipt> ParentReceipts = new List<ParentReceipt>();
`

While this does
`                public List<ParentReceipt> ParentReceipts { get; set; } = new List<ParentReceipt>();
`

[2021-08-11 09:54] OskarNet opened #192 "Sample - V3IoC - Unable to navigate to api/swagger/ui"
Hi

I must be missing something but I'm unable to navigate to api/swagger/ui as RenderSwaggerUI and RenderSwaggerDocument are not shown as endpoints when running the functions project locally.
I'm looking at the sample Microsoft.Azure.WebJobs.Extensions.OpenApi.FunctionApp.V3IoC as I've got an v3 Azure Functions project.

I'm using the latest version 0.8.1-preview

**Project packages:**

    <Targ

[2021-08-11 16:49] MichaelLebrand commented on #181
Found some relevant issues as well over at their repo: https://github.com/JamesNK/Newtonsoft.Json/issues/2574 and https://github.com/JamesNK/Newtonsoft.Json/issues/2534

I solved this by using the older newtonsoft.json version 12.0.3 as per: `<PackageReference Include="Newtonsoft.Json" Version="12.0.3" />`

[2021-08-11 17:14] kevinmillstx opened #193 "Override DateTime to display as "date" format in specification"
Is there a way to have specific DateTime properties be output with "format": "date" instead of "format": "date-time". Hopefully this is not an issue with .Net 6 DateOnly, but would be nice to have a simple solution in the interim. I'm using a custom DateOnly converter to process the data, but since the specification is automatically generated, all dates are presented as date-time.

[2021-08-12 00:06] kharnt0x commented on #172
This is also causing the same issue when using "func start" from command line to run a function. This causes a /bin/output folder to be generated which contains multiple *.deps.json files, meaning the spec is empty

[2021-08-12 00:18] kharnt0x commented on #172
I've confirmed that if I delete the other *.deps.json files in the /bin/output directory generated by "func start", the spec starts working

[2021-08-12 01:08] kharnt0x commented on #178
Noting that this is not fixed by using 0.8.1-preview

[2021-08-12 13:34] justinyoo commented on #191
@kharnt0x Thanks for the issue. That's correct. Fields are not considered to expose.

[2021-08-12 13:41] justinyoo commented on #183
@Ashan-FCC Thanks for the issue! Would you please try the new release, v0.8.1-preview and let me know?

If the same issue still persists, please let me know how to reproduce your issue on my end.

[2021-08-12 13:58] justinyoo commented on #178
v0.8.0-preview is no longer available. Try v0.8.1-preview instead, please.

[2021-08-12 13:58] #178 closed

[2021-08-12 14:06] kevinmillstx commented on #193
I previously tried the `[DataType(DataType.Date)]` annotation, but it wasn't working on v0.7.2. However, it's now working using 0.8.1 (for out of process version, Thank you!), but only for non-nullable DateTime. Nullable DateTime still returns `date-time` format.

[2021-08-12 15:22] OskarNet commented on #192
Right. I've added the extension to seven of my Azure Functions projects and most are working. Don't think it's the other packages that are the problem as I've removed them and still not working for a few of them. Continuing to investigate

[2021-08-12 15:26] OskarNet opened #194 "swagger.json - Sequence contains no elements"
Hi

I've a functions project that throws this error in the console when requesting the swagger.json:
 Sequence contains no elements

There is only HTTPTrigger function with the OpenApiOperation, OpenApiParameter and OpenApiResponseWithBody attributes.
[code]

**Error in the UI:**
![image](https://user-images.githubusercontent.com/57990676/129224052-1fa1792a-9910-4b9d-a87f-3a09502ec6fa.png)

Regard

[2021-08-12 20:11] emrekara37 commented on #194
Hi @OskarNet
Can you share your ResultModel ?
Maybe i can help you

[2021-08-12 20:28] OskarNet commented on #194
Sure. Here it is:

` public class ResourceResultModel
    {
        public string ResourceId { get; set; }
        public byte[] Bytes { get; set; }
    }`

[2021-08-12 21:53] emrekara37 commented on #194
Related to : #96

[2021-08-13 05:12] runceel commented on #122
I'm facing this issue on `0.8.1-preview`.

[2021-08-13 08:01] fredriklrsn commented on #172
Have you had time to investigate the issue yet, @justinyoo ?

[2021-08-13 08:24] justinyoo commented on #192
Yeah, There are several issues reporting some other NuGet packages prevents the OpenAPI document from being rendered.

[2021-08-13 18:44] JacobJGalloway opened #196 "OpenAPI UI dll load failure from release pipeline only"
Got a function app which is being deployed to an Azure serverless deployment. I have a Function App "Functions" project and corresponding "Functions.Tests" unit test project. When doing a zip deploy from Visual Studio, everything is working correctly. When trying to go thru Azure Devops build and release pipelines, I am getting a `Could not load file or assembly 'D:\home\site\wwwroot\bin\Functions

[2021-08-14 00:42] justinyoo commented on #196
@JacobJGalloway Thanks for the issue! I'm also shocked it requires any test project! Just before going further, could you confirm that:

* You can successfully run your function app locally?
* You can successfully perform the right-click publish to Azure?

[2021-08-14 10:16] DennYats opened #197 "Every function stop work after I imported OpenAPI configuration to existed API in API Management"
So I had API(Azure Functions) in API Management imported directly from Azure Functions
![image](https://user-images.githubusercontent.com/45600211/129442480-930cb408-1afb-4cb7-9c50-f431061806c4.png)

After I imported new version of AF through OpenAPI configuration url despite I chosen Update option when we update replace whole AP, it still returns 500 error
![image](https://user-images.githubuserc

[2021-08-14 10:29] DennYats commented on #197
Update: I Applied set-backend policy and it works, but is there any way to do this automaticall?

[2021-08-14 14:18] JacobJGalloway commented on #196
@justinyoo  That is correct. I can run locally and get the OpenApi UI and if I do a right-click publish zip deploy in Visual Studio, the deployed service does properly render the OpenAPI swagger UI.

[2021-08-15 02:18] justinyoo commented on #196
When building and testing .DLL files for this library, it uses the solution file. But I don't think it's relevant to your test project at all. What if you create a new Function app with a test project and deploy it to Azure through the pipeline?

[2021-08-18 04:36] alinapach commented on #183
@justinyoo I was able to reproduce the same behavior as @Ashan-FCC on v0.8.1-preview

The http dll is missing from _bin/Debug/netcore3.1/bin/_

![image](https://user-images.githubusercontent.com/11277680/129837555-d35bee5c-2e3c-4bef-b976-a772aa1eaff3.png)

Core Tools Version:       3.0.3442
Function Runtime Version: 3.0.15417.0

[2021-08-18 05:54] justinyoo commented on #183
Alright. Would you please provide steps you've reproduced this error, so that I can follow the steps?

[2021-08-18 06:09] alinapach commented on #183
Ok I did something super simple. I followed the instructions defined here:
[https://github.com/Azure/azure-functions-openapi-extension/blob/main/docs/enable-open-api-endpoints-in-proc.md](url)

1. Installed the lib on my project v0.8.1-preview. Code snippets from my csproj
`
<TargetFramework>netcoreapp3.1</TargetFramework>
<PackageReference Include="Microsoft.Azure.WebJobs.Extensions.OpenApi" Vers

[2021-08-18 08:48] justinyoo commented on #197
instead of doing that, can you use OpenAPI URL for APIM import?

[2021-08-18 13:49] #181 closed

[2021-08-18 13:53] #191 closed

[2021-08-18 13:54] #125 closed

[2021-08-18 14:19] nuri1126 commented on #139
@justinyoo Could you assign this to me? This looks good as my first issue on this project. :)

[2021-08-19 02:20] shellicar opened #200 "OpenApiProperty Nullable does not seem to work for classes"
## Overview

I have an existing Function using the OpenAPI library that I was able to apply Nullable to for some string properties.
However other properties such as classes do not generate the expected nullable section in swagger.json

While attempting to create a reproducible, I'm unable to see any nullable/required generated in the swagger for OpenAPI V2 (default), and it doesn't work with class

[2021-08-19 02:54] shellicar commented on #200
It seems that the OpenApiProperty parameters are applied to the class model, rather than the parameter.

e.g.:
[code]
[code]

[2021-08-19 14:06] kevinmillstx commented on #200
There seem to be multiple issues with nullable properties. I've noticed `[JsonIgnore]` on a `long?` does not remove the property from the generated spec. Whereas, it does when it's not nullable. Also, that a `DateTime?` annotated with `[DataType(DataType.Date)]` will not output to spec with date format; still gets generated as date-time. Making it non-nullable will properly result in date format.

[2021-08-20 00:51] xsneebsx commented on #177
Hello,

I've come across a similar issue here where I'd like to customise the the way the open api parameters are discovered since the code i have doesn't need to use the attributes and can pull the paramter details directly from the method parameters. This is done using custom bindings similar to the ones available in AspNet (ie. FromBody, FromQuery, etc).

I had a look through and noticed that d

[2021-08-20 13:31] level120 opened #201 "Test failed on Visual Studio"
I have some problems with a test project, commit [689113e](https://github.com/Azure/azure-functions-openapi-extension/commit/689113e34e19abd3a9d224252c4c51cde89133f0)

I tried three environments, CLI, ReSharper, and test explorer in visual studio(build in).
CLI and ReSharper test are all passes but test explorer is not.

Unfortunately failed cases are random.

The below picture is Test Explorer in

[2021-08-21 09:12] Lee-WonJun opened #202 "Link is broken in integrate-with-apim.md docs"
docs
- ![image](https://user-images.githubusercontent.com/10369528/130316842-18ca0671-f142-4828-a4ff-62f7ac119cfb.png)

link
- ![image](https://user-images.githubusercontent.com/10369528/130316984-772a9f36-1711-4d77-8229-a0b5d3fe19e3.png)

"the Azure Function app with the OpenAPI extension enabled" link is broken in [docs](https://github.com/Azure/azure-functions-openapi-extension/blob/main/docs/i

[2021-08-22 10:45] Lee-WonJun opened #205 "Support for ValueTuple type in response body type"
### Describe
Tuple and ValueTuple seem to have the same response.
However, when ValueTuple type is used for Description, "Example" (or Schema) is not described normally.

For example, I wrote the code like this, (check body Type). Then I check the response && swagger.

<details markdown="1">
<summary>code </summary>

[code]

</details>

<details markdown="1">
<summary>Response / swagger </summary>

[2021-08-22 12:34] minbumm opened #206 "Building the program on Windows"
![error](https://user-images.githubusercontent.com/68464294/130355083-8040c6b6-4683-4fb2-bbf8-91013f5c1ddf.png)

Building the program on Windows exceeds the MSB349 OS maximum path limit. An error occurs.

[2021-08-22 12:59] Lee-WonJun commented on #206
OS limitation [link](https://docs.microsoft.com/en-us/windows/win32/fileio/maximum-file-path-limitation?tabs=cmd)

Either allow the long path in your OS or use a short path for your project (in my case, rename the root directory).

[2021-08-22 13:38] #202 closed

[2021-08-22 18:32] changbokLee commented on #153
Hello, I'm not sure if it's the answer, but there's a way to reuse it, so I'm attaching a link. https://swagger.io/docs/specification/data-models/enums/

[2021-08-23 04:23] justinyoo commented on #153
Thanks for the info! Let's find a way to reuse the enum through this extension.

[2021-08-23 04:26] justinyoo commented on #153
@changbokLee Would you mind take a look at this issue?

[2021-08-23 04:32] justinyoo commented on #201
@level120 Thanks for the issue! As long as the test passes with dotnet CLI, it's OK for now. But your question is still valid.

I'm not sure it's the issue on our side or Visual Studio's test explorer side, though.

[2021-08-23 04:36] justinyoo commented on #205
@Lee-WonJun Thanks for the issue! According to your code, you're using .NET 5.

Would you please return the `HttpResponseData` object instead of the Tuple object and see how it's going?

[2021-08-23 04:41] justinyoo commented on #206
@minbumm Thanks for the issue! As @Lee-WonJun mentioned above, it's the Windows' limitation. The solution could be either:

1. Enable long path, or
2. Keep the cloned repository's name as short as you can.

[2021-08-23 04:41] #206 closed

[2021-08-23 04:44] #182 closed

[2021-08-23 04:50] Lee-WonJun commented on #205
I'll check soon,

But, IMHO, the important thing is that swagger shows empty.
It's about "attributes", isn't it about the actual "response"?

[2021-08-23 04:56] changbokLee commented on #153
okay sir  i will try , our project are supporting that swagger version 2.0 3.0? , documention that it is explainning only 2.0 3.0 version .

[2021-08-23 05:03] Lee-WonJun commented on #206
IMHO, we need a guide document for building and setting up the environment, and it would be nice if we could provide this as a note.

[2021-08-23 06:39] justinyoo commented on #172
I basically followed the reproduction step defined at #188. However, I was only able to find one *.deps.json file under the `/bin/Debug/netcoreapp3.1`.

@fredriklrsn @ducman

Here's my local environment:

* OS: Mac OS Catalina: v10.15.7
* .NET Core 3.1 SDK: v3.1.412
* AzFunc Core Tools: v3.0.3568
* Azure Functions OpenAPI Extension: v0.8.1-preview

[2021-08-23 06:51] Deserve82 commented on #143
Hi @justinyoo! this is Kangho Lee, can I take this issue as my assignment?

[2021-08-23 07:14] justinyoo commented on #205
@Lee-WonJun You're exactly right. We need to look for the both Tuple and ValueTuple types.

[2021-08-23 07:19] justinyoo commented on #153
@changbokLee Our extension currently relies on [https://github.com/microsoft/OpenAPI.NET](https://github.com/microsoft/OpenAPI.NET) that supports both OpenAPI v2 and v3.0.1. But your codebase should focus on v3.0.1. The rest will be automatically done for you.

[2021-08-23 07:21] justinyoo commented on #143
@Deserve82 That sounds good! Let's discuss how your approach will look like.

[2021-08-23 07:26] Lee-WonJun commented on #143
@Deserve82  FYI [Korean Version Blog](https://blog.aliencube.org/ko/2019/08/07/azure-functions-integration-testing-with-mountebank/) of "Related reading"

[2021-08-23 08:16] choipureum commented on #172
I also have the same issue that sample code swagger.ui does not work. Swagger.ui works only when the sample code is debug. But it doesn't work when `func start` in shell. I also think `/bin/output/` folder has a problem getting multiple deps.json, including function.deps.json. I am currently testing the case of swagger.json operating during operation. I am testing based on the difference between d

[2021-08-23 12:39] h0s commented on #193
@kevinmillstx  i will be happy to get this , but can you please give more information and repro steps ,
versions , sample code and the goal ?

[2021-08-23 14:06] kevinmillstx commented on #193
The goal would be that a nullable DateTime property would have a type and format of string($date) in generated OpenAPI specification.

Example class with non-nullable DateTime and nullable DateTime, both annotated with [System.ComponentModel.DataAnnotations.DataType(DataType.Date)]:

`public class Test
{
	[DataType(DataType.Date)]
	public DateTime NonNullableDate { get; set; }
	[DataType(DataType.

[2021-08-24 01:45] choipureum commented on #193
Oh, I'm sorry. I didn't see the comment, so I sent a PR about this first. 😓

[2021-08-24 10:51] HermannGruber commented on #153
I guess I'm facing the same issue. I have an azure function, for which the generated swagger.json looks similar as above, but I want to have the enums defined once and then referenced. Currently it reads
[code]

But I would like to see

[code]
Can you please tell me whether this will be resolved using the current issue? If not, I will happily open a separate issue. (My generated swagger.json says

[2021-08-24 14:55] #197 closed

[2021-08-24 16:34] wm98 opened #209 "Use the Options pattern for configuring IOpenApiConfigurationOptions"
Would it be possible to register IOpenApiConfigurationOptions as an instance of IOptions so it can be configured liked this:

[code]

You should also be able to configure it using the existing [configuration providers](https://docs.microsoft.com/en-us/dotnet/core/extensions/configuration-providers).

I think this is more typical for configuring options in ASP.NET than the environment variable or i

[2021-08-24 22:04] gpeterson12 opened #210 "Swagger UI and OpenAPI document endpoints not Anonymous"
I am trying to hide my swagger and open API endpoints behind the function app key in a .Net5 function app. I followed the instructions in the documentation (linked below), also note the 3 config values I have set (see below below), however I am still able to navigate to the url <functionappname>/api/swagger/ui without any need for the api key. I then only see that the API key is automatically plac

[2021-08-25 00:59] shellicar opened #211 "Question/issue with supporting NodaTime or other custom types"
This is a question/issue around attempting to support custom types.

When attempting to support a library such as NodaTime, I run into multiple issues.

Using the DataType attribute with DataType.Date doesn't help as even though the schema "format" is set to "date", the "type" is still set to "object".

I can't see any way to support custom types otherwise.

Please add a way to specify custom type

[2021-08-25 02:59] interpolarity opened #212 "Swagger Payload ignores [DataMember] name changes for json serialization."
Looking at the documentation, it looks like JsonProperty is supported, and looks like duplicating Datamember tags with Jsonproperty works, but is there any possibility of also supporting DataMember?

[2021-08-25 09:04] choipureum commented on #96
Hi @justinyoo , can I take this issue as my assignment?👀

[2021-08-25 12:49] minbumm commented on #139
@justinyoo Please give me permission to do this issue.

[2021-08-25 13:16] haileymoon commented on #160
@justinyoo Hi! Can I take this as my assignment?
Thanks :)

[2021-08-25 13:24] shlee7131 commented on #163
Um, Can I take this issue ?

[2021-08-25 14:10] ianadavies opened #214 "Override BaseUrl on Json output"
Swagger generated json would have the server endpoint written out with '/api' on the end

[code]
But OpenApi will write out the following

[code]

It would be good to be able to override this to keep compatibility with swagger.

[2021-08-26 05:51] dr-dolittle opened #215 "Failed to fetch http://somefunctionname.azurewebsites.net/swagger.json - The page was loaded over https:// but a http:// URL was specified"
Microsoft.Azure.WebJobs.Extensions.OpenApi v0.8.1-preview

The extension works locally when I make a request to https://somefunctionname.azurewebsites.net/swagger/ui. When I deploy the Azure Function to Azure https://somefunctionname.azurewebsites.net/swagger.json also works. But when I try https://somefunctionname.azurewebsites.net/swagger/ui I get

[code]

![image](https://user-images.githubuser

[2021-08-27 12:43] Pmeholm opened #216 "Error Generating swagger.json running functions locally. Missing Microsoft.Azure.WebJobs"
Hi,

using package `Include="Microsoft.Azure.WebJobs.Extensions.OpenApi" Version="0.8.1-preview"`
I tried to create a basebones setup defining openapi config (to force v3) and one operation.

No errors are thrown when building and starting the local function, however when i try to load the swagger.json i get a message `Could not load file or assembly 'Microsoft.Azure.WebJobs, Version=3.0.23.0, Cul

[2021-08-28 03:13] xsneebsx commented on #177
Ah yes, i think i misunderstood the filtering by tags requirement and making it a supported query parameter on the openapi endpoints makes more sense. I can add a query parameter of `tagsFilter` that could work or an alternative might be to support multiple openapi documents which is supported in the swaggerui.

The swaggerui config object has a `urls` property which is an array of `{ url: string,

[2021-08-29 13:48] justinyoo commented on #177
@xsneebsx It seems that we need to split issues identified here into several ones. This issue is all about the filtering endpoints to be exposed. All others might be relevant but don't seem to be necessary at once.

[2021-08-29 15:04] SoniaComp commented on #143
@Deserve82 @justinyoo
Hi! This is Sun-Young Park, a member of OCA.
Can I take this issue with @Deserve82?

[2021-08-29 22:28] xsneebsx opened #220 "Add funtionality to allow providing open API parameters without using attributes"
Currently the only way to define openapi parameters is using the openapi attributes on the function method. I'd like to be able to customise the way the open api parameters are discovered since the code i have doesn't need to use the attributes and can pull the parameter details directly from the method parameters. This is done using custom bindings similar to the ones available in AspNet (ie. Fro

[2021-08-29 22:40] xsneebsx commented on #177
No worries, I didn't mean to cover multiple issues in this one. I've split out my issue to #220 which is specifically around how to define parameters without needing the attributes and have updated my PR to mention the other issue as well.

[2021-08-29 23:45] shlee7131 commented on #163
I think this post can help you,
https://docs.microsoft.com/en-us/troubleshoot/aspnet/filenotfindexception-call-web-service

[2021-08-30 00:48] level120 commented on #167
@justinyoo How about this? I think that its aliases have a different reference.

[code]

The "blackWindows" reference is "#/components/schemas/blackWindows".
The "weatherForecast.blackWindows" reference is "#/components/schemas/weatherForcast/properties/blackWindows".

[2021-08-30 01:59] choipureum commented on #143
I'd like to participate in this issue.

[2021-08-30 02:37] justinyoo commented on #167
@level120 The expected JSON object should be like that, as you mentioned.

[code]

The current issue is that it's not rendered like that, if there's a property that has a same name of the schema object.

[2021-08-30 02:40] justinyoo commented on #143
@SoniaComp @choipureum Sure. As this is a kind of big chunk, it would be good for all three of you to work together.

[2021-08-30 02:46] justinyoo commented on #163
@mdg215199 Would you please provide the step-by-step repro, so that we can reproduce your issue on our end?

[2021-08-30 02:54] level120 commented on #167
@justinyoo In my opinion, When instance schema key check skip, it makes the correct script.
I think that subAcceptor having schemas should not check if key same with instance schemas.

![image](https://user-images.githubusercontent.com/10791961/131277898-321d9fb5-d592-4604-abae-c10dc90bd5d4.png)

[2021-08-30 03:01] justinyoo commented on #167
@level120 That might be correct. But make sure that the schema only allows the unique name. Can you write relevant codes including test codes that prove your idea?

[2021-08-30 05:45] haileymoon commented on #143
@justinyoo Hi! Can I take part in this issue too? Thanks!

[2021-08-30 06:00] shellicar commented on #200
Hi just wondering if there is any update/response to this as it currently generates incorrect OpenAPI specification.

[2021-08-30 06:00] shellicar commented on #211
Hi just wondering if there's any response or suggestion to this issue.

[2021-08-30 07:21] minbumm commented on #143
@justinyoo Can I support this issue?

[2021-08-30 07:39] changbokLee commented on #143
@justinyoo  Could i take too?

[2021-08-30 08:16] justinyoo commented on #143
@changbokLee Sorry, there are already too many OCAs interested. Better to find other issues.

[2021-08-30 08:24] justinyoo commented on #143
@choipureum @haileymoon I removed both of you from this issue. Let's take other issues you're assigned first then come back here.

[2021-08-30 14:57] mlowijs commented on #215
@justinyoo What do you mean it is something you can't handle? Is it not possible to offer this as a configuration option or something like that?

[2021-08-30 15:50] justinyoo commented on #140
Related to #177

[2021-08-30 15:55] #140 closed

[2021-08-30 15:55] #177 closed

[2021-08-30 16:10] justinyoo commented on #215
It's not the issue on the extension side.

That only occurs on the Linux-based instance, which I suspect that the instance internally uses a reverse proxy or something similar to handle all the traffic in HTTP, not HTTPS.

Alternatively, as the UI script relies on https://github.com/swagger-api/swagger-ui, it's better to ask them for workaround. I have no visibility to the Swagger UI scripts.

[2021-08-30 16:15] justinyoo commented on #215
But, let me take a look at this issue. I might have an idea how to fix this.

[2021-08-31 00:35] #122 closed

[2021-08-31 00:35] #172 closed

[2021-08-31 00:39] justinyoo commented on #172
@fredriklrsn It's resolved, and @vincentbitter 's contribution has been merged to the main repo (not yet published).

Would you please try the new change on your end and let us know?

[2021-08-31 00:41] justinyoo commented on #122
It's resolved, and @vincentbitter 's contribution has been merged to the main repo (not yet published).

Would you please try the new change on your end and let us know?

[2021-08-31 00:42] #175 closed

[2021-08-31 00:43] shlee7131 commented on #215
Can I join this problem?

[2021-08-31 01:01] justinyoo commented on #215
@shlee7131 Alright. I'll assign this issue to you. As I've done some base work before you jumped on this issue, you can continue your contribution on the [`feature/force-https`](https://github.com/Azure/azure-functions-openapi-extension/tree/feature/force-https) branch.

In the branch, you'll see the new property, `ForceHttps` on the `IOpenApiConfigurationOptions` interface.

https://github.com/Az

[2021-08-31 23:52] dongshinyang commented on #143
Can I support this issue?

[2021-09-01 13:42] dongshinyang commented on #105
Could I take this issue?

[2021-09-01 17:17] ChrisDev3 commented on #147
Is there an update on this?

[2021-09-01 18:53] mikemassa84 commented on #215
@dr-dolittle I reported this same issue, and found this work around:

https://github.com/Azure/Azure-Functions/issues/1933#issuecomment-889178952

Hope it helps.

@justinyoo The azure functions team punted this issue back to you.

[2021-09-02 01:00] antoniodlp opened #223 "Using OpenIdConnect results in an empty security definition and Unknown security definition type error"
Using version 0.8.1-preview

[code]

Results in this JSON:

[code]
And an error message in Swagger UI when clicking Authorize saying `Unknown security definition type`

[2021-09-02 06:05] justinyoo commented on #223
@antoniodlp Thanks for the issue!

Please make sure that OpenIdConnect only supports OpenAPI doc v3+. Could you double check your OpenAPI doc version whether it's v2 or v3? The extension default is v2.

[2021-09-02 08:13] #193 closed

[2021-09-02 09:56] klaudiaknafel commented on #18
Are there any updates on when it will be implemented?

[2021-09-02 13:26] ParimalPa commented on #18
We are in need of this - when would this be available?

[2021-09-02 17:25] antoniodlp commented on #223
@justinyoo That was it, thank you.

It probably is general knowledge to use V3 for OpenIdConnect, but I would recommend making a note about it in the documentation at [/docs/openapi-core.md](https://github.com/Azure/azure-functions-openapi-extension/blob/a724af5fdd0b64b2fb4b7771f6943a1da0801ff8/docs/openapi-core.md)

[2021-09-02 23:44] VTR-AReed opened #225 "Generated Swagger is Empty"
I have an existing .NET 6 Project I've been working on, and I decided to add the OpenAPI Extension and generate a swagger, however the swagger generated is empty. I have cleaned and rebuilt, I have deleted obj and bin, I have tried everything, but my same functions copied to another project work just fine, but for some reason in this project, which has no build errors whatsoever (with all trace lo

[2021-09-03 01:56] choipureum commented on #225
I understand that NET.6 is not yet supported. You can run it in a NET.5 environment.

[2021-09-03 02:00] VTR-AReed commented on #225
There are many .NET 6 examples linked on the main readme, and downloading and building any of them they work, (and have identical setups to my project) for whatever reason my specific project continues to generate a blank one :(

[2021-09-03 04:38] justinyoo commented on #225
@VTR-AReed How many `*.deps.json` files does your `Debug/net6.0/` or `Debug/net6.0/bin` directory have? If there are multiple `*.deps.json` files, it's causing the issue.

Could you confirm that on your end?

[2021-09-03 04:38] level120 commented on #225
I think this issue similar https://github.com/Azure/azure-functions-openapi-extension/pull/217
There is a bug and fixed recently but not deployed now.

[2021-09-03 04:46] VTR-AReed commented on #225
This is the results of looking for `*.deps.json`
![image](https://user-images.githubusercontent.com/88848128/131951851-1f45a6a0-1ce3-425b-a0b7-d41d8fed8bd2.png)

[2021-09-03 05:12] VTR-AReed commented on #225
I have confirmed this to be the case, I removed the `*.deps.json` produced by my referenced libraries and the spec started working!

[2021-09-03 09:49] MrWolfPST opened #226 "Required Attribute"
Add support for System.ComponentModel.DataAnnotations.RequiredAttribute besides Newtonsoft.Json.JsonRequiredAttribute

[2021-09-03 11:09] MrWolfPST opened #227 "Required section property casing"
I have some properties decorated with JsonRequired attribute and JsonProperty attribute with custom property name specified.
In the properties section of swagger.json, property name respect casing of property name value of JSonProperty attribute, but in the required section the name is with first letter lower cased.

[2021-09-03 16:36] justinyoo commented on #225
@VTR-AReed Glad it's sorted out! Please wait for a few more days until the fix #217 is released to v0.9.0-preview

[2021-09-03 16:37] #225 closed

[2021-09-03 16:41] justinyoo commented on #183
@alinapach Could you confirm whether your `bin/Debug/netcoreapp3.1` directory has only one `*.deps.json` file or multiple `*.deps.json` files?

[2021-09-04 14:52] Lee-WonJun commented on #205
I found the reason.
in the [document]( (https://docs.microsoft.com/en-us/dotnet/api/system.valuetuple-4?view=net-5.0))
"Members like Item1 and Item2 are fields, not properties." content can be found

So it is not automatically serialized.
I'll  be able to make new visitor for ValueTuple.

[2021-09-05 10:52] Lee-WonJun commented on #205
in the same [document](https://docs.microsoft.com/en-us/dotnet/api/system.valuetuple-4?view=net-5.0)

[code]

Serialization is no mandatory in .Net.

According to the documentation, serialization for ValueTuple is implementation specific.

Therefore, it seems that this problem does not need to be implemented at this point.

[2021-09-05 11:10] justinyoo commented on #205
@Lee-WonJun Thanks for the detailed research and conclusion. Really appreciate your efforts! I'm going to close it for now.

[2021-09-05 11:10] #205 closed

[2021-09-06 09:08] choipureum commented on #227
I think it's related to #83

[2021-09-06 09:21] fredriklrsn commented on #172
Great. I will test as soon as it is published.

[2021-09-06 09:34] MrWolfPST commented on #227
Yes, it can be correlated. My problem is on required section only, but I use JsonProperty with custom property name, that is the workaround suggested in the issue #83.

[2021-09-06 10:01] MartinWickman opened #229 "HashSet is rendered as an object in the swagger example and spec"
Creating a model class which contains a `HashSet` will render it like a json object in the example part of the swagger documentation url (http://localhost:7071/api/swagger/ui). For example, this model:

[code]

Renders like this in the Example box:

[code]

![image](https://user-images.githubusercontent.com/900766/132198985-5952f700-3bf4-49bf-bedd-70f36a6fcd61.png)

The generated swagger spec look

[2021-09-07 12:27] justinyoo commented on #227
As a default, `camelCasing` is applied to all unless it's specified through `JsonProperty(...)`. It's because of this line:

https://github.com/Azure/azure-functions-openapi-extension/blob/c5d78bc24ecc626e96c3d3ab17fcfcc9c0c62a24/src/Microsoft.Azure.WebJobs.Extensions.OpenApi/OpenApiHttpTriggerContext.cs#L112

and here:

https://github.com/Azure/azure-functions-openapi-extension/blob/c5d78bc24ecc6

[2021-09-07 12:36] MrWolfPST commented on #227
As workaroud I added Required = Required.Always on JsonPropertyAttributes that have PropertyName specified

[2021-09-07 12:40] sebb3 commented on #156
I have the same issue. I looked at the PR (#138 ) solving #54 and the fix that was made does not check for IEnumerable of Type.

Could that be a possible solution @justinyoo?

[2021-09-07 13:43] #18 closed

[2021-09-07 13:43] #96 closed

[2021-09-07 13:43] #97 closed

[2021-09-07 13:43] #136 closed

[2021-09-07 13:43] #150 closed

[2021-09-07 13:43] #179 closed

[2021-09-07 13:43] #194 closed

[2021-09-07 14:31] justinyoo commented on #229
@MartinWickman Thanks for the issue! I'm working on it.

[2021-09-07 14:59] #229 closed

[2021-09-07 15:21] tomidix opened #231 "Extend definition objects with custom parameters - support Power Apps Custom Connector definition"
Hi,

I have a need to set some custom parameters into openapi definition.
To be more specific I need my swagger definition to be compliant with Microsoft Power Apps Custom Connector rules: https://docs.microsoft.com/en-us/connectors/custom-connectors/openapi-extensions

For example, every parameter in my definition has to have "x-ms-summary" defined to pass the validator.

Can you please provide a

[2021-09-07 16:02] justinyoo commented on #231
Related to: #36

[2021-09-07 16:03] justinyoo commented on #226
@MrWolfPST Thanks for the issue! Would you please elaborate?

[2021-09-07 16:10] justinyoo commented on #216
@Pmeholm Thanks for the issue! Could you double check whether your file exists in the `bin\Debug\netcoreapp3.1/bin` directory or not? If it doesn't exist, this workaround in your `.csproj` might help:

[code]

Reference: https://github.com/Azure/azure-functions-host/issues/5894

[2021-09-07 16:11] #214 closed

[2021-09-07 16:20] justinyoo commented on #200
@shellicar There are multiple questions mixed up in this one issue. For one thing is fixed in #208

It would be great if you split issues what you're trying to achieve.

[2021-09-07 16:24] MrWolfPST commented on #226
I maked some additional tests and I must partial review the issue.
The only way I found for include a mandatory property in the required section of component is decorate property with [JsonProperty(Required = Required.Always)].
Instead if I use JsonRequired or Required attributes, property is not included in the required section.
Anyway the RequiredAttribute is not in the supportet attributes list

[2021-09-07 16:30] justinyoo commented on #134
Just FYI - we're planning its GA with .NET 6 GA.

[2021-09-07 16:30] #134 closed

[2021-09-07 16:31] #137 closed

[2021-09-07 16:36] #131 closed

[2021-09-07 16:38] justinyoo commented on #99
Related to : #94

[2021-09-07 16:44] justinyoo commented on #226
Here are the decorators we currently support:

* From [Newtonsoft.Json](https://github.com/Azure/azure-functions-openapi-extension/blob/main/docs/openapi-core.md#supported-jsonnet-decorators)
* From [System.ComponentModel.DataAnnotations](https://github.com/Azure/azure-functions-openapi-extension/blob/main/docs/openapi-core.md#supported-systemcomponentmodeldataannotations-decorators)

It partially

[2021-09-07 16:48] justinyoo commented on #155
@badmyt As of v0.8.1-preview, this extension doesn't use the template files. Therefore, it shouldn't be an issue any longer.

[2021-09-07 16:48] #155 closed

[2021-09-07 16:49] MrWolfPST commented on #226
Yes I had read. My original request was for add support of RequiredAttribute of System.ComponentModel.DataAnnotations namespace. But seam that also JsonRequiredAttribute have some problem

[2021-09-07 17:12] justinyoo commented on #226
Let me check.

[2021-09-07 17:38] MrWolfPST commented on #94
Same behaviour with nested generic types.
Here a test case

using Microsoft.AspNetCore.Http;
using Microsoft.AspNetCore.Mvc;
using Microsoft.Azure.WebJobs;
using Microsoft.Azure.WebJobs.Extensions.Http;
using Microsoft.Azure.WebJobs.Extensions.OpenApi.Core.Attributes;
using Microsoft.Extensions.Logging;
using Microsoft.OpenApi.Models;
using Newtonsoft.Json;
using System;
using System.Collections.G

[2021-09-07 18:08] MrWolfPST commented on #226
JsonRequered not working in combination with JsonProperty with property name specified, as described in issue #227

[2021-09-08 00:16] shellicar commented on #200
Hi, thanks for the reply.

Sorry for any confusion.
I didn't intend for there to be multiple questions or issues. If you're referring to the comment about V2/V3 that was just something I discovered when investigating.

I don't think this is fixed by the linked issue, I believe these properties use "ObjectTypeVisitor".

Here is a hopefully simpler example to illustrate the issue.

Code
[code]

Gene

[2021-09-08 00:57] choipureum commented on #156
Can I look for a solution?

[2021-09-08 01:01] justinyoo commented on #156
@choipureum Sure. I'll assign it to you.

[2021-09-08 02:43] justinyoo commented on #200
Thanks for clarification! I found a couple of issues here:

1. Although your `ChildModel` has no decorator, the `#/components/schema/childModel` has a description defined by its parent class.

👉 It shouldn't be appearing on that location, and it's something I need to look at and fix.

2. You expect `$ref`, `description` and `nullable` in one place. However, according to the [spec v3.0.1](https://g

[2021-09-08 03:10] justinyoo commented on #121
Related to #160

[2021-09-08 04:19] chinarosesz opened #232 "Support AAD authentication for swagger UI endpoint"
Please provide support for AAD authentication on swagger UI endpoint.

One current workaround that is not a very pleasant experience is to enable EasyAuth on the whole function app with a redirection to the login page if user is not authenticated. However, it would redirect twice and make the user sign in twice, one for the swagger json and the other one for the UI.

[2021-09-08 07:54] tomidix commented on #231
@justinyoo
Yes, it is related but I actually lean towards a unique resolution.
For me it would be better if this issue is solved in a way not to support only custom connector definition but basically any need for custom properties in an openApi document. I assume there are more needs for custom properties.

What I see as solution is to allow us to use something like this:
`[OpenApiParameter(name:

[2021-09-08 08:10] Lee-WonJun commented on #108
Can I take this issue if it is not resolved?

[2021-09-08 08:27] justinyoo commented on #108
@Lee-WonJun Sure!

[2021-09-08 10:32] tsolbjor commented on #156
I have the same issue and a possible solution in #233

[2021-09-08 13:19] choipureum commented on #139
Could you assign this to me? 😀

[2021-09-08 13:21] justinyoo commented on #139
@choipureum Sure!

[2021-09-09 10:38] tomidix commented on #225
When will this new version be released? this fix is really needed.. at least as v0.8.2-preview

[2021-09-09 12:05] HermannGruber commented on #153
Unfortunately I was not able to follow up with the latest discussion on this. Can you confirm that my comment above refers to the same issue? Otherwise, I'd happily open a separate issue.

[2021-09-09 21:45] pmiller22 opened #235 "Could not load file or assembly 'Microsoft.Azure.WebJobs.Extensions.Http, Version=3.0.12.0"
I'm not sure how to proceed here.
We're trying to use OpenAPI extension on an existing solution, but I get this error at runtime after adding the example that visual studio provides.

[code]

All traces of this package in my solution point to 3.0.12, so I'm at a loss for what's causing this

[2021-09-09 21:46] pmiller22 commented on #235
Sorry, this is a dup of https://github.com/Azure/azure-functions-openapi-extension/issues/183

[2021-09-09 21:46] #235 closed

[2021-09-09 21:53] pmiller22 commented on #183
Getting this on my end as well.
I'm able to reproduce just by using the starter that visual studio provides and removing all of the static keywords
e.g. This function will cause the error:
[code]

[2021-09-09 22:00] justinyoo commented on #183
There are possibly two causes on this issue:

1. If there are multiple `*.deps.json` files within your `bin/Debug/netcoreapp3.1` or `bin/Debug/netcoreapp3.1/bin` directory, it might be the one, as mentioned above.
2. Try this approach on your `.csproj` file, which is **a sort of official workaround** for the time being:

[code]

[2021-09-10 08:31] redpandabigcat commented on #183
It is easy to reproduce the bug, and the _FunctionsSkipCleanOutput didn't work for me.

steps:
1.  follow the article https://techcommunity.microsoft.com/t5/apps-on-azure/create-and-publish-openapi-enabled-azure-functions-with-visual/ba-p/2381067 to create a project with OpenApi 0.7.2-preview.
2. change the openapi to 0.8.1-preview (optional)
2. add  <PackageReference Include="Microsoft.Azure.WebJ

[2021-09-10 13:42] pmiller22 commented on #183
This exactly. I was able to resolve my issues when I removed a package reference that used 3.0.12. (In this case, I was using a third-party package to generate open api documents in the past and we were migrating to this package because of another bug...) When I removed the package, all references were downgraded to 3.0.2 and my problems went away

[2021-09-11 18:40] ianc1 opened #240 "SwaggerUI - Configure default client_id and scopes for OpenIdConnect authentication"
Is there a way to set a default `client_id` and `scopes` for the OpenIdConnect authentication in the UI?

I.e like you can in Swashbuckle using:

[code]
<img width="825" alt="authentication-ui" src="https://user-images.githubusercontent.com/25267610/132958200-f36e2b38-5c45-40e5-93d3-5c31299ad216.png">

[2021-09-12 03:24] level120 commented on #186
I think it is related to https://github.com/Azure/azure-functions-openapi-extension/issues/167
There is working on https://github.com/Azure/azure-functions-openapi-extension/pull/218

[2021-09-12 20:51] agravity-philipp commented on #157
Hi @binarybasher ! As you are using Azure DevOps and I ran in the same issue may I ask you to share the pipeline.yaml file?

Hi @justinyoo - Is this solved in 0.9.0-preview (#225) and when will this be released?

[2021-09-14 01:16] #105 closed

[2021-09-14 01:16] #167 closed

[2021-09-14 01:22] justinyoo commented on #186
It's slightly different from #167 and #218

This issue is about generic inside generic.

[2021-09-14 01:24] justinyoo commented on #160
Related to #186

[2021-09-14 02:53] #123 closed

[2021-09-15 17:54] cjakobsen opened #241 "Links referring to moved documentation in readme.md"
2 links in the _**Getting Started**_ section of readme.md is referring to moved documentation. They should be changed to point to the new location.

The links are:
- Enable OpenAPI documents to your Azure Functions HTTP Trigger (Preview)
- Microsoft.Azure.WebJobs.Extensions.OpenApi

[2021-09-17 09:25] #156 closed

[2021-09-17 09:36] justinyoo commented on #241
@cjakobsen Thanks for pointing out! While I mostly agree with that, I would remain pointing the same document.

Instead, I would provide two links &ndash; in-proc.md and out-of-proc.md in the document, https://github.com/Azure/azure-functions-openapi-extension/blob/main/docs/enable-open-api-endpoints.md

The same goes applied to this page. https://github.com/Azure/azure-functions-openapi-extension

[2021-09-17 15:20] jwadaptivity commented on #172
hey @justinyoo , any updates on when this will be published?

[2021-09-18 01:47] justinyoo commented on #240
@ianc1 Thanks for the issue!

You can set up by following this [doc](https://github.com/Azure/azure-functions-openapi-extension/blob/main/docs/openapi-core.md#openapisecurityattribute).

In addition to that, this #223 might help you configure your `OpenApiSecurity(...)` decorator.

[2021-09-18 01:50] justinyoo commented on #232
@chinarosesz Thanks for the issue!

Currently, both Swagger UI and OpenAPI doc endpoints only support the AzFunc's built-in API key auth flow. But let me take a look how we can sort out this challenge.

Just on top of my head, I'm considering our `IOpenApiConfigurationOptions` to apply.

[2021-09-19 16:42] ianc1 commented on #240
@justinyoo Thank you for the docs.

I have been configuring the scopes by defining them in `OpenApiOAuthFlow.Scopes` as described in the doc but the issue I'm having is that I want to be able to enable the scopes by default in the SwaggerUI Auth dialog rather than rely on the user doing it. I've also tried duplicating the scopes in the OpenApiSecurity attribute but that didnt result in the scopes

[2021-09-22 08:55] janhjordie commented on #225
I'm also looking forward to get this fix. I also face the same issue on Azure

Thanks
Jan

[2021-09-22 21:24] lecamarade opened #244 "Configurable url for /api/oauth2-redirect.html endpoint behind FrontDoor"
Hi,

We use Azure Funtion app behind FrontDoor. This adds complication of url rewrites.

The swagger url for the function app is:
https://myapp.azurewebsites.net/api/swagger/ui

With FrontDoor it becomes:
https://mycompany/api/myapp/swagger/ui

The generated oauth2 redirect is
https://mycompany/api/oauth2-redirect.html
instead of
https://mycompany/api/myapp/oauth2-redirect.html

Can we modify the

[2021-09-22 23:51] flcdrg commented on #200
@justinyoo Something I'm encountering which seems similar. In the code sample above, is it possible to make `OptionalChild` nullable?

[code]

Doesn't seem to have any effect. And the code samples above show NSWag is generating code that forbids null (so the property is not optional).

If I manually edited the generated yaml, I can add a `nullable: true` under the `ChildModel` definition. Not clea

[2021-09-23 13:02] #108 closed

[2021-09-23 13:55] justinyoo commented on #244
@lecamarade Thanks for the issue! Wonder whether you've found this doc or not: https://github.com/Azure/azure-functions-openapi-extension/blob/main/docs/openapi-core.md#overriding-base-urls

[2021-09-23 14:02] justinyoo commented on #240
@ianc1 From the Swagger UI perspective, it's just a test harness and it doesn't show up your client ID and pre-ticked scopes by default.

If you want to provide a pre-populated client ID, then you can try the approach referred from [this doc](https://github.com/Azure/azure-functions-openapi-extension/blob/main/docs/openapi-core.md#swagger-ui-customisation) to embed a custom JavaScript file, and it

[2021-09-23 14:17] torepaulsson opened #245 "OpenApiResponseWithBody - Does not handle classes with IImmutableList"
Hi,
This is really a great extension, just tried it out and will use it on all the azure functions we have! I noticed that there was a problem rendering the response body of a class when it has a property type of IImmutableList. I tried changing to IList and that works fine.

[code]
renders just an empty class like so:
[code]

It would be great to add support for IImmutableList!

[2021-09-23 14:31] lecamarade commented on #244
@justinyoo , Thank you for the link, yes I did find it.
It only helps to fix the CORS issue. Unfortunately, the url there is ignored by the code that updates the oauth2-redirect.html url in swagger-ui.js

The library adds prefix that comes from HttpSettings.RoutePrefix = "api".

From swagger-ui-bundle.js:
.call(t,window.location.host,"[[SWAGGER_UI_API_PREFIX]]/oauth2-redirect.html"),

[[SWAGGER_UI

[2021-09-23 15:17] #241 closed

[2021-09-24 06:42] jeromekol commented on #58
Bit late, but I've been using the code that is in the CLI folder on this repo: https://github.com/Azure/azure-functions-openapi-extension/blob/main/src/Microsoft.Azure.WebJobs.Extensions.OpenApi.CLI/Program.cs

Maybe that helps someone else.

[2021-09-24 14:47] lecamarade commented on #244
@justinyoo, please upate the labels. This is not a question and it is not resolved.

[2021-09-24 15:07] justinyoo commented on #245
@torepaulsson Thanks for the issue! I'll take a look.

[2021-09-24 15:31] justinyoo commented on #244
Let me take a further look.

[2021-09-24 15:52] #245 closed

[2021-09-25 01:51] justinyoo commented on #245
@torepaulsson I hope this PR #247 sorts out your issue. Please wait for the 0.9.0-preview release!

[2021-09-25 06:56] justinyoo commented on #232
I'm looking `OpenApiHttpTriggerContext` for this. The basic idea is that I would add a method like `AuthorizeAsync(...)`, then the method is called within each endpoint like:

[code]

The auth logic should be customisable because every organisation deals with it differently.

* If the authorisation logic doesn't exist, it ignores.
* If the authorisation succeeds, no change.
* If the authorisation

[2021-09-25 22:16] chinarosesz commented on #232
Sounds like a good plan.

I was thinking about adding a middleware to check if the endpoint is swagger ui or json, redirect to the login page.  Looks like your flow is similar so I'll wait for this instead of implementing the middleware myself. I honestly don't know if my approach is going to work.

[2021-09-26 01:45] justinyoo commented on #232
Yeah, I also considered the middleware approach.

However, we can't rely on the middleware because, unlike ASP.NET Core app, Azure Functions app runs either as a static way or IoC way.

[2021-09-27 07:01] torepaulsson commented on #245
That was very quick, thank you!

[2021-09-30 07:20] markleavesley commented on #51
This is marked as resolved but trying it with 0.8.1 and it does not use the annotations. I'm now faced with duplicating 173 annotations and that's just for one service 😱

[2021-09-30 11:22] johan-lindqvist opened #248 "Cannot generate schema if property and class have same name"
**Describe the issue**

[code]

Results in the following error:
[code]

If I rename the `OtherClass` class to `OtherClassDto` or if I change the property name for `OtherClass` in `SomeDto` it manages fine, so there seems to be an issue where it doesn't handle if the property name and the class name is the same when using `IEnumerable`. I saw that you fixed something related to this in #247 and I t

[2021-09-30 12:21] jeromekol opened #249 "Add OpenAPI spec to build output"
Currently, it's only possible to use the provided cli or by running the function to get the openapi document.

It would be great, if you could provide a MsBuild target/task as part of the nuget package which generates the specification during build.

Maybe an option in csproj `<GenerateOpenApi>true|false</GenerateOpenApi>` could to be added to opt-in or opt-out.

Are there any plans in this direct

[2021-09-30 16:08] lecamarade commented on #244
@justinyoo , any updates on this one?

[2021-09-30 18:17] tijmenamsing opened #251 "HealthReport object structure produced by health checks endpoint throws StackoverflowException"
**Describe the issue**
I implemented health checks for my .NET Core 3.1 function app. My function returns a [HealthReport](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.diagnostics.healthchecks.healthreport) object. Using `bodyType: typeof(HealthReport)` to generate the correct OpenAPI throws an StackoverflowException. A solution and explanation has been provided here: https://s

[2021-10-01 09:49] #139 closed

[2021-10-01 09:52] #215 closed

[2021-10-01 09:52] #244 closed

[2021-10-01 09:59] #121 closed

[2021-10-01 09:59] #160 closed

[2021-10-01 09:59] #186 closed

[2021-10-01 10:25] #232 closed

[2021-10-01 10:35] #201 closed

[2021-10-01 10:39] choipureum commented on #212
Can I solve this problem? 😀

[2021-10-01 10:45] level120 commented on #153
I think this issue can't start before solving https://github.com/Azure/azure-functions-openapi-extension/issues/248
Because enum type may have many definitions having different namespaces.

[code]

[2021-10-01 15:52] chinarosesz commented on #232
Thanks Justin for doing this. Excited to see this in the next preview release.

[2021-10-06 07:46] KyleEales commented on #15
Any updates on this? Alternatively, could anyone please recommend a temporary solution for how to generate more complex schema's for an OpenApi doc when using an Azure function. More details [here](https://stackoverflow.com/questions/69450798/generating-concrete-classes-in-openapi-spec-for-azure-function)

[2021-10-06 15:46] tomidix opened #269 "Generated Swagger is Empty"
#225
#157
This one is still a problem (also on .net 5) if deployed on Azure Function via Azure DevOps..
As I see some fix was placed in code but there is still no new package available..

Publish new package..

[2021-10-07 13:23] Lee-WonJun opened #272 "When using an object list, an object schema is generated."
**Describe the issue**
Using a list of object (base object) generates an object reference.

I recently cleared iusse ( #108 ) (PR no. 234).

I found a new bug (probably...) with object references.

Using a list of objects generates an object reference.

Fortunately, the item type is seems to be correct

[code]

However,  schemas contains object type schema.

**To Reproduce**
1. I worte code like t

[2021-10-08 02:58] justinyoo commented on #232
@chinarosesz The latest release, 0.9.0-preview includes this implementation. And here's the [doc](https://github.com/Azure/azure-functions-openapi-extension/blob/main/docs/openapi.md#further-authentication-and-authorisation).

[2021-10-08 15:01] DerStimmler opened #273 "Automatically generate OpenAPI specification based on functions"
**Describe the issue**
At the moment you have to manually add attribute classes on top of the FunctionName decorator to enable OpenAPI metadata and make the method visible in the swagger-ui.

**Expected behavior**
OpenAPI specification should be generated automatically based on Functions with HTTP-Trigger.

**Additional context**
E.g. Swashbuckle for ASP.NET Core has the [Swagger-Generator](https:

[2021-10-09 03:03] justinyoo commented on #273
@DerStimmler Thanks for the suggestion! Would you please elaborate what your expectations are?

[2021-10-09 03:08] justinyoo commented on #269
Do you still experience the issue with 0.9.0-preview?

[2021-10-09 03:13] #240 closed

[2021-10-11 07:59] DerStimmler commented on #273
This package should detect all Azure Functions with HTTP-Triggers in a project.
For each function it should generate the OpenAPI specification automatically based on the configured route, route parameters, query parameters, models and return types.

So you don't have to manually add the `[OpenApi...]` attributes on top of the FunctionName decorator to enable OpenAPI metadata and make the method vi

[2021-10-11 12:38] tomidix commented on #269
This is now fixed in 0.9.0-preview. Works fine both locally ('func host start' command) and on Azure Functions (deployed via DevOps).
Thank you very much.

[2021-10-11 12:38] #269 closed

[2021-10-12 09:56] OrionRiftStudios opened #277 "Unable to resolve service for type 'Microsoft.Azure.Functions.Worker.Extensions.OpenApi.IOpenApiTriggerFunction"
**Describe the issue**
After following the tutorial about OpenAPI with NET 5
https://techcommunity.microsoft.com/t5/apps-on-azure/net-5-support-of-azure-functions-openapi-extension/ba-p/2647383
with a default project for Azure functions.

**To Reproduce**
Steps to reproduce the behavior:
Install the latest version of the nuget package
Configure the project following the tutorial
https://techcommun

[2021-10-12 11:58] #277 closed, assigned to nobody

[2021-10-13 21:34] lahsrah opened #281 "Swagger UI breaks with Microsoft.Extensions.Logging.Abstractions 3.1.x"
**Describe the issue**
Swagger UI works fine without Microsoft.Extensions.Logging.Abstractions 3.1.x but as soon as you need a package that depends on this, Swagger UI breaks with this error:
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Azure Functions project with .NET Core 3.1 LTS and select HTTP function with OpenAPI template
2. Compile and run the project and verify

[2021-10-14 02:13] justinyoo commented on #281
This is the known issue on the Azure Functions runtime. https://github.com/Azure/azure-functions-vs-build-sdk/issues/397#issuecomment-648809799

Here's the workaround:

[code]

[2021-10-14 02:20] justinyoo commented on #272
There are a few methods in `TypeExtensions` and `OpenApiPaylodAttribute` that sort out this issue, I suspect. I think with your previous `BaseObjectTypeVisitor` PR approach would help.

[2021-10-14 08:10] decocsa opened #282 "OpenApiRequestBody with bodyType with recursive properties throws StackOverflowException."
**Describe the issue**
An OpenApiRequestBody with a bodyType of EditListRequestBody (see screenshots) throws StackOverflowException.
I think Feature/#156 fixed this for the OpenApiResponseWithBody, but not for the OpenApiRequestBody.

**Screenshots**
![image](https://user-images.githubusercontent.com/92383297/137277239-171f3f3c-4fb2-4eff-a896-cf7af97cdfc9.png)
![image](https://user-images.githubus

[2021-10-15 13:11] svrooij opened #283 "Package request"
**Describe the issue**

The CLI in [this folder](https://github.com/Azure/azure-functions-openapi-extension/tree/main/src/Microsoft.Azure.WebJobs.Extensions.OpenApi.CLI) seems like a really good candidate to be a [dotnet tool](https://docs.microsoft.com/en-us/dotnet/core/tools/global-tools) that would make distributing it really easy (just publish a new version of a special nuget package).

Packag

[2021-10-15 20:38] NickSpaghetti opened #284 "Add [JsonConverter(typeof(StringEnumConverter))] to Enums outside of my Assembly"
Hey,

I'm running into an issue with enums showing up as numbers in the swagger UI.  According to the documentation I need to add `[JsonConverter(typeof(StringEnumConverter))]` to the enum file.  However, for enums outside of my assembly or in Nuget packages I can not add that attribute.  I tried doing it via reflection in the Azure Functions Startup.cs.  see code below:
[code]

I confirmed by pri

[2021-10-17 06:58] Lee-WonJun commented on #273
IMHO, even if we use attributes (decorators), it looks like we need a way to automatically detect response type.

for example
[code]

how about this idea?

[2021-10-18 12:53] justinyoo commented on #282
@decocsa I'll close this issue for now. If you still have the same issue even after the suggestion by @level120, please leave a comment.

[2021-10-18 12:53] #282 closed, assigned to nobody

[2021-10-19 15:49] AndersRod opened #290 "Feature request: Parameter collectionFormat = multi"
**Describe the request**
OpenAPI array parameters can have [collectionFormat of type `csv`, `ssv`, `tsv`, `pipes` and `multi`](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/2.0.md#parameter-object).

To my understanding, Azure-functions-openapi-extension currently only supports delimiter types for `OpenApiParameter`.

Please add support for `multi` type.

[2021-10-19 19:58] joeyeng opened #291 "[Feature request] Multiple versions support"
See: https://github.com/vitalybibikov/AzureExtensions.Swashbuckle/issues/48

[2021-10-19 22:57] #291 closed

[2021-10-20 08:07] justinyoo commented on #290
@AndersRod Thanks for the suggestion! This extensions is designed based on the OpenAPI spec v3.0.1, and this is [the spec for the parameter object](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.1.md#parameter-object). Unfortunately, your link is pointing to the v2.0 spec.

I'm sure that I've implemented the parameter object spec based on the v3.0.1.

[2021-10-20 08:07] #290 closed

[2021-10-21 12:22] timd19 opened #294 "PowerShell 3.x Function Support for OpenAPI Extension"
**Describe the issue**

Is this extension supported by PowerShell Functions?

[2021-10-21 13:00] GilShalit opened #295 "An optional string parameter is not passed correctly by swagger ui"
An Azure function (V3) is declared with an optional string parameter.  it is sent incorrectly to the function from the swagger UI regardless if the parameter is specified or left empty.
[code]

when tested from the address bar of a browser, the response is as expected:
http://localhost:7071/api/myroute/XYZ returns: **The filter value is XYZ**
http://localhost:7071/api/myroute returns: **The filter

[2021-10-22 15:28] AieatAssam opened #296 "TypeLoadException when trying to load QueryCollection in .NET 5/.NET 6 isolated function if Microsoft.AspNetCore.Authentication.JwtBearer is referenced"
Versions **0.9.0-preview** and **1.0.0** of Microsoft.Azure.Functions.Worker.Extensions.OpenApi introduced an issue into .NET5/.NET6 isolated functions which reference Microsoft.AspNetCore.Authentication.JwtBearer  (5.0.11) when trying to render swagger UI:
[code]
The issue manifests itself the moment **Microsoft.AspNetCore.Authentication.JwtBearer** is referenced and goes away when the reference

[2021-10-26 13:22] PanosKousidis opened #298 "OpenAPI attributes are not getting picked up if they are in a referenced class library project"
I have a dotnet-isolated (.NET5) azure function that references another project (class library .NET5) that has a function defined in it. The function is getting deployed fine, but the swagger page does not show it, even though it has the necessary attributes from the Microsoft.Azure.WebJobs.Extensions.OpenApi.Core.Attributes namespace.

Using v0.9.0

Sample Repo to demonstrate the issue : https://

[2021-10-29 21:40] timd19 commented on #294
Thanks, @justinyoo - Do you have an example of this? It would be great to provide OAS with PS functions.

[2021-10-29 22:19] wdorsett84 opened #299 "Possible Feature Request: Ability to select which version operations in the Function are mapped to"
Hello,

I would like to request the ability to select which version an operation belongs to without having to specify the version in the route. Similar to the `MapToApiVersion` and `ApiVersion` in Web API projects.

I currently make use of `tags` in the `OpenApiOperation` attribute to separate the OpenApi documentation by version when generating the docs using the CLI in this repo. I then publish

[2021-11-01 12:19] Vivannaboa commented on #64
Hello, with a generic type it's working now.
Here I am having a problem when there are two generic types.

it works:

`Response<T>`

It does not work:

`Response<IEnumerable<T>>`

![image](https://user-images.githubusercontent.com/11863525/139668852-82b94db5-d334-4067-ad37-4034afb080fe.png)
![image](https://user-images.githubusercontent.com/11863525/139670286-7dba27d1-a247-45cc-9bcb-302cc2402ce9.p